@import url(common/common.css);

/* OVERVIEW */
.sub-wrap.overview .visual:before {background-image:url(../images/ab_overview_visual.png)}
.overview .content > .desc {margin:15rem 3rem 15rem 7.6rem;padding:0;font-size:var(--title-type2);font-weight: 700;line-height:7.778vw;}
.overview .introduction {padding:15rem 2rem 58.889vw;background:url(../images/ab_introcution_bg.png);background-size:cover;background-position:bottom;background-repeat: no-repeat;}
.overview .introduction h2 {font-size:var(--basic-size);font-weight:700;line-height: 140%;}
.overview .introduction .txt-box {padding-left:5.6rem;margin-top:5rem;}
.overview .introduction .title {margin-bottom:2rem;font-size:var(--title-type2);line-height: 140%;font-weight:700;}
.overview .introduction .desc {font-size:var(--small-size);color:#666;line-height:140%;font-weight:500;}
.overview .introduction > img {display: block;width: 100%;margin:8rem auto 0;}
.overview .introduction .diagram {margin:22.22vw 2.778vw 0;display: flex;column-gap:11.111vw;align-items: center;justify-content: center;}
.overview .introduction .diagram > img {position:absolute;display: block;width:12.222vw;flex:none}
.overview .introduction .lina,
.overview .introduction .chubb {position:relative;width:36.111vw;height:36.111vw;border-radius:50%;display: flex;justify-content: center;align-items: center;}
.overview .introduction .lina img {display: block;width: 18.333vw;}
.overview .introduction .chubb img {display: block;width:20vw}
.overview .introduction .lina div,
.overview .introduction .chubb div {display: flex;justify-content: center;align-items: center;border-radius: 50%;width:calc(100% - 4.44vw);height: calc(100% - 4.44vw);}
.overview .introduction .lina div {background:#150F96}
.overview .introduction .chubb div {background:#000}
.overview .introduction .lina {background: rgba(21, 15, 150, 0.2);box-shadow: 30px 34px 80px rgba(21, 15, 150, 0.1);}
.overview .introduction .chubb {background: rgba(0, 0, 0, 0.2);box-shadow: 30px 34px 174px rgba(0, 0, 0, 0.2);}
/* .overview .introduction .lina:after {position: absolute;background: url(../../assets/images/ab_overview_img03.png);width: 4.5rem; right: 0;height: auto;display: block;height: 1.4rem;right: -4.2rem;background-size: contain;background-repeat: no-repeat;content: '';} */
.overview .count-box {margin-top: 15rem;}
.overview .count-box h2 {margin-bottom:5rem;font-size:var(--basic-size);font-weight:700;line-height: 140%;}
.overview .count-box p {padding-left:5.6rem;font-size:var(--title-type2);line-height: 140%;font-weight:700;}
.overview .count-box ul {margin-top:5rem;padding-left:5.6rem;}
.overview .count-box li  {font-size: var(--title-type2);font-weight:700;line-height: 140%;}
.overview .count-box li + li {margin-top:4rem;}
.overview .count-box li strong {margin-right:0.3rem;font-size:12.778vw;line-height:140%;font-weight:700;}
.overview .count-box li strong:nth-of-type(2) {margin-left:1.2rem;}
.overview .count-box li span {display: block;width:100%;font-size:var(--small-size);color:#999;font-weight: 500;line-height: 140%;}
.overview .count-box li:last-child span {font-size:3.333vw;font-weight:400;}

/* CEO INTERVIEW */
.sub-wrap.interview .visual:before {background-image:url(../images/ab_interview_visual.png)}
.sub-wrap.interview .visual h1 p:last-child {padding-left: 3.7rem;}
.sub-wrap.interview  .content {margin-bottom:0;}
.interview .content > .desc {margin:15rem 0;padding-left: 7.6rem;}
.interview .content > .desc span {font-size: var(--basic-size);color:#666;font-weight: 700;line-height: 140%;}
.interview .content > .desc p {margin:1.8rem 0 5rem;font-size:var(--title-type2);font-weight:700;line-height:140%;}
.interview .content > .desc p.sign {font-size:4.167vw;line-height: 2.94rem;margin-bottom: 1.3rem;}
.interview .content > .desc p.sign span {display:inline-block;margin-right:1.4rem;font-weight: 500;color:#000;font-size: var(--small-size);}
.interview img.sign {height: 7.4rem;margin-left: -2rem;}
.interview .interview-sec {padding:15rem 2rem;background:url(../images/ab_interview_bg.png);background-size:cover;}
.interview .interview-sec p {padding-left:5.6rem;font-size: var(--title-type3);color:#fff;font-weight:700;line-height: 140%;letter-spacing:-0.01em;}
.interview .interview-sec p + p {margin-top: 5rem;}
.interview .interview-sec span {display: block;padding-left:5.6rem;margin-top:2rem;font-size: var(--small-size);line-height: 140%;color: rgba(255, 255, 255, 0.6);font-weight:500;}
.interview .interview-box {margin-top: 15rem;}
.interview .interview-box + .interview-box{margin-top: 12rem;}
.interview .interview-box.right {padding-left: 2rem;}
.interview .interview-box.left {padding-right:2rem;margin-bottom:15rem}
.interview .interview-box h2 {margin-bottom:5rem;font-size: var(--basic-size);font-weight: 700;line-height: 140%;}
.interview .interview-box img {max-width:100%;}
.interview .interview-box .box-wrap {padding-left:5.6rem;text-align: right;}
.interview .interview-box .qna-box {margin-top:4rem;text-align: left;padding-right: 2rem;}
.interview .interview-box .qna-box img {width: 2.4rem;}
.interview .interview-box .qna-box + .qna-box {margin-top: 3.4rem;}
.interview .interview-box .qna-box .question {margin-bottom: 0.6rem;}
.interview .interview-box .qna-box:nth-of-type(1) .answer {font-size: var(--title-type3);font-weight:700;line-height:140%;}
.interview .interview-box .qna-box:nth-of-type(2) .answer {font-size:var(--small-size);line-height: 140%;font-weight: 500;}
.interview .interview-box.left > img {max-width: 93.750vw;}
.interview .interview-box.left .qna-box {padding-left: 5.6rem;padding-right: 1rem;}
.interview .directivity {padding:15rem 3rem 15rem 2rem;background: url(../images/ab_interview_bg02.png);background-size: cover;background-position: bottom;}
.interview .directivity h2 {font-size: var(--basic-size);color:#fff;font-weight: 700;line-height: 140%;}
.interview .directivity .txt-box {margin-top:5rem;padding-left:5.6rem;}
.interview .directivity .txt-box p {font-size: var(--title-type3);color:#fff;letter-spacing: -0.01em;font-weight:700;line-height: 140%;}
.interview .directivity .txt-box span {display:block;margin-top:1.6rem;font-size: var(--small-size);color: rgba(255, 255, 255, 0.6);font-weight: 500;line-height: 140%;}

/* Vision & Mission */
.sub-wrap.vision .visual:before {background-image:url(../images/ab_vision_visual.png)}
.sub-wrap.vision .visual h1 p:last-child {padding-left: 7.6rem;}
.sub-wrap.vision .content > .desc {margin:15rem 0;padding:0 2rem 0 7.6rem;font-size:var(--title-type2);line-height:140%;font-weight:700;word-break: keep-all;}
.vision .vision-sec {padding:15rem 2rem;background: url(../images/ab_vision_bg.png);background-size: cover;}
.vision .img-box {padding:0 1.111vw;margin-bottom: 3.2rem;}
.vision .img-box img {display: block;width: 100%;padding-left: 7.222vw;}
.vision .vision-sec p {margin:5rem 0 2rem;padding-left:5.6rem;font-size:var(--title-type2);font-weight: 700;line-height:140%;color:#fff;word-break: keep-all;}
.vision .vision-sec .label {color:#fff}
.vision .vision-sec span {display:inline-block;padding-left:5.6rem;font-size: var(--small-size);font-weight: 500;color:rgba(255,255,255,.5);line-height: 140%;}
.vision .vision-sec div + div {margin-top: 12rem;}
.vision .value-sec {margin-top: 15rem;}
.vision .value-sec .step-box {margin-top: 5rem;padding-left: 5.6rem;}
.vision .value-sec .step-box .title {font-size: var(--title-type2);font-weight: 700;line-height: 140%;word-break: keep-all;}
.vision .value-sec .step-box ul {margin-top: 5rem;}
.vision .value-sec .step-box li + li {margin-top: 4rem;}
.vision .value-sec .step-box li {position:relative;padding-left:9.444vw;font-size:var(--title-type3);font-weight: 700;line-height: 140%;}
.vision .value-sec .step-box li span {display: block;margin-top:0.8rem;color:#999;line-height: 140%;font-weight: 500;font-size: var(--small-size);}
.vision .value-sec .step-box li em {position:absolute;left:0;top:0;color:#150F96;font-size: var(--title-type3);font-weight: 700;line-height: 140%;}

/* CI */
.sub-wrap.ci .visual:before {background-image:url(../images/ab_copi_visual.jpg)}
.sub-wrap.ci .visual h1 p:last-child {padding-left: 11.9rem;}
.ci .logo-box + .logo-box {margin-top: 15rem;}
.ci .logo-box img {display: block;width: 100%; margin-top: 3rem;}

/* Promotional Video */
.sub-wrap.video .visual:before {background-image:url(../images/ab_video_visual.jpg)}
.sub-wrap.video .visual h1 {left: 1.7rem;}
.sub-wrap.video .visual h1 p:last-child {padding-left: 51.389vw}
.sub-wrap.video .content > .desc {font-size:6.667vw;}
.video .video-wrap .title {margin:5rem 0 3rem;font-size: var(--title-type3);font-weight: 700;line-height: 140%;}
.video .video-wrap p {font-size: var(--small-size);line-height: 140%;font-weight:500;color:#666;white-space:pre-line;}
.video .video-wrap br {display:block;padding: 3rem;}

/* NEWS LIST 보도자료 */
.sub-wrap.news_list .visual:before {background-image:url(../images/ab_news_visual.png)}
.sub-wrap.news_list .content > .desc {font-size:6.667vw;}

/* Contact Us */
.sub-wrap.contact .visual:before {background-image:url(../images/contact_visual.png)}
.sub-wrap.contact .visual h1 p:last-child {padding-left:41.944vw}
.contact .content {display: none;}
.contact .content.active {display: block;}
.contact .sub-content {display: none;}
.contact .sub-content.active {display: block;}
.contact .map-wrap {margin-top:8rem;}
.contact .map-wrap > img {display: block;width: 100%;}
.contact .map-wrap > p {margin:7rem 0 1rem 5.6rem;font-size:var(--title-type3);font-weight:700;word-break: keep-all;}
.contact .map-wrap > span {display:block;margin-left:5.6rem;font-size: var(--small-size);font-weight: 500;line-height: 140%;color:#666;}
.contact .map-wrap > span + .map-info {margin-top: 4rem;}
.contact .map-info {margin-left: 5.6rem;margin-top: 7rem;}
.contact .map-info li {padding:3rem 0;border-bottom: 1px solid #EBEBEB;}
.contact .map-info li:first-child {border-top: 1px solid #EBEBEB;}
.contact .map-info li p {display:flex;margin-bottom:1.2rem;align-items:center;font-size: var(--basic-size);font-weight: 700;line-height: 150%;}
.contact .map-info li p img {display:inline-block;width:2rem;margin-right:0.8rem;}
.contact .map-info li span {display:block;color:#666;line-height:140%;font-size: var(--small-size);font-weight: 500;}
.contact .map-info li span + span {margin-top: 1.4rem;}
.contact .map-info li a.tel {display:block;color:#666;line-height:140%;font-size: var(--small-size);font-weight: 500;}

/* Associate Proposal */
.sub-wrap.associate .visual:before {background-image:url(../images/ab_associate_visual.png)}
.sub-wrap.associate .visual h1 p:last-child {padding-left:24.444vw}
.associate .txt-box {margin-top:5rem;margin-left: 5.6rem;}
.associate .txt-box p {font-size: var(--title-type3);line-height: 140%;font-weight: 700;word-break: keep-all;}
.associate .txt-box span {display: block;margin-top: 2rem;font-size:var(--small-size);color:#666;line-height: 150%;font-weight:500;}
.associate .partner-sec img {display: block;width: 100%;margin-top: 5rem;}
.associate .partner-sec + .partner-sec {margin-top: 20rem;}
.associate .partner-sec + .rule-sec {margin-top: 15rem;}
.associate .rule-sec {position:relative;padding-bottom: 4rem;}
.associate .rule-sec:after {position:absolute;bottom:0;border-bottom:1px solid #EBEBEB;width:calc(100% - 9.6rem);right:2rem;content: '';}
.associate .rule-sec .txt-box {padding-bottom:4rem;border-bottom:1px solid #000;}
.associate .rule-sec .txt-box span {font-weight:700;line-height: 140%;margin:0;margin-bottom:1.4rem}
.associate .rule-sec .ico-box {margin-left:5.6rem;padding-top:4rem}
.associate .rule-sec .ico-box > img {width: 6.4rem;height:6.4rem;}
.associate .rule-sec .ico-box p {margin-top: 2rem;font-size:4.167vw;font-weight: 500;line-height: 140%;}
.associate .rule-sec .ico-box span {display: block;font-size: var(--small-size);font-weight: 500;color:#666;line-height:150%;}
.associate .rule-sec .ico-box span + span {margin-top:0.4rem;}
.associate .rule-sec .ico-box span:first-of-type {margin-top:4rem;}
.associate .rule-sec + .rule-sec .ico-box span + span {margin-top: 1rem;}
.associate .mail-box {margin:15rem auto 0;}

/* 공지사항 스타일 */
.sub-wrap.notice .visual:before {background-image:url(../images/in_notice_visual.png)}
.sub-wrap.notice .content > .desc {font-size:6.667vw;}
.news_detail.notice .detail-wrap p:not(.title) {border-top: 1px solid #000;padding-top: 5rem;border-bottom: 1px solid #EBEBEB;}
.news_detail .detail-wrap p:not(.title):after {display: none;}
.news_detail.notice .detail-wrap p > a {color:#000;text-decoration: underline;}