@import url(common/common.css);

.popup-close-btn {position: absolute;top: 7.7778vw;right: 5.5556vw;width: 5.5556vw;height: 5.5556vw;border: none;background: url(../images/icon/btn_close.svg) 50% 50% no-repeat;background-size: cover;}

/* 개인정보처리방침 */
.privacy-popup p,
.privacy-popup h2,
.privacy-popup h3,
.privacy-popup h4,
.privacy-popup li,
.privacy-popup span,
.privacy-popup table th,
.privacy-popup table td {color: #666;font-weight: 500;font-size: var(--small-size);line-height: 5.4444vw;}
.privacy-popup {padding: 21.1111vw 0;}
.privacy-popup .page-tit {margin-bottom: 13.8889vw;font-weight: 700;font-size: 6.6667vw;line-height: 9.3333vw;}
.privacy-popup .page-desc {margin-bottom: 16.6667vw;}
.privacy-popup .sec:nth-of-type(n+2) {margin-top: 16.6667vw;}
.privacy-popup .sec .tit {margin-bottom: 2.2222vw;color: #150F96;font-weight: 600;font-size: var(--basic-size);line-height: 6.2222vw;}
.privacy-popup .sec01 .list {margin-top: 8.3333vw;}
.privacy-popup .sec01 .list > li:nth-of-type(n+2) {margin-top: 8.3333vw}
.privacy-popup .sec01 .list h3 {color: #666;font-weight: 600;font-size: var(--small-size);line-height: 5.4444vw;}
.privacy-popup .sec01 .list h3 + .sub-list {margin-top: 1.6667vw}
.privacy-popup .sec01 .sub-list {letter-spacing: -0.02rem;}
.privacy-popup .sec02 .desc {margin-bottom: 2.2222vw;}
.privacy-popup .sec03 .table-wrap {overflow-x: auto;overflow-y: hidden;}
.privacy-popup .sec03 table {width: 166.6667vw;margin-top: 5.5556vw;}
.privacy-popup .sec03 table thead th {height: 14.4444vw;border: 1px solid #ebebeb;border-left: 0;background-color: #f9f9f9;color: #666;vertical-align: middle;}
.privacy-popup .sec03 table thead tr > th:last-child {border-right: 0;}
.privacy-popup .sec03 table tbody td {padding: 5.5556vw 4.4444vw;border: 1px solid #ebebeb;border-left: 0;}
.privacy-popup .sec03 table tbody tr > td:last-child {border-right: 0;}
.privacy-popup .sec04 .table-wrap {overflow-x: auto;overflow-y: hidden;}
.privacy-popup .sec04 table {width: 166.6667vw;margin: 5.5556vw 0;}
.privacy-popup .sec04 table thead th {height: 14.4444vw;padding: 0 4.4444vw;border: 1px solid #ebebeb;border-left: 0;background-color: #f9f9f9;color: #666;font-weight: 500;font-size: var(--small-size);line-height: 5.4444vw;vertical-align: middle;}
.privacy-popup .sec04 table thead tr > th:last-child {border-right: 0;}
.privacy-popup .sec04 table tbody td {padding: 5.5556vw 4.4444vw;border: 1px solid #ebebeb;border-left: 0;}
.privacy-popup .sec04 table tbody tr > td:last-child {border-right: 0;}
.privacy-popup .sec05 .sub-list {margin: 2.7778vw 0;padding-left: 5.5556vw;}
.privacy-popup .sec05 .sub-list li:nth-of-type(n+2) {margin-top: 2.7778vw;}
.privacy-popup .sec06 .list {margin-top: 5.5556vw;padding-left: 5.5556vw;}
.privacy-popup .sec06 .sub-list li {margin-bottom: 2.7778vw;}
.privacy-popup .sec07 .list {margin-top: 5.5556vw;padding-left: 5.5556vw;}
.privacy-popup .sec07 .list li:nth-of-type(n+2) {margin-top: 2.7778vw;}
.privacy-popup .sec08 .list {margin-top: 5.5556vw;}
.privacy-popup .sec09 .list {margin-top: 5.5556vw;padding-left: 5.5556vw;}
.privacy-popup .sec09 .list.p-0 {padding: 0;}
.privacy-popup .sec09 .list li:nth-of-type(n+2) {margin-top: 2.7778vw;}
.privacy-popup .sec09 .list li.mb-0 {margin: 0;}
.privacy-popup .sec10 .list {margin-top: 5.5556vw;padding-left: 5.5556vw;}
.privacy-popup .sec10 .list li:nth-of-type(n+2) {margin-top: 2.7778vw;}
.privacy-popup .sec10 div span {display: inline-block;min-height: 27.7167vw;padding: 5.5556vw;font-weight: 500;font-size: var(--small-size);line-height: 5.4444vw;vertical-align: top;}
.privacy-popup .sec10 div span:nth-of-type(1) {border-right: 1px solid #ebebeb}
.privacy-popup .sec11 .list {margin-top: 5.5556vw;padding-left: 5.5556vw;}
.privacy-popup .sec11 .list li:nth-of-type(n+2) {margin-top: 2.7778vw;}
.privacy-popup .sec11 .table-wrap {overflow-x: auto;overflow-y: hidden;}
.privacy-popup .sec12 .list {margin-top: 5.5556vw;}
.privacy-popup .sec12 a, .privacy-popup .sec13 a {color: #666;}
.privacy-popup .sec12 a span {text-decoration: underline;}
 
.privacy-popup .table-wrap {overflow-x: auto;overflow-y: hidden;}
.privacy-popup table {width: 250.2222vw;margin: 5.5556vw 0;}
.privacy-popup table thead th {height: 14.4444vw;padding: 0 4.4444vw;border: 1px solid #ebebeb;border-left: 0;background-color: #f9f9f9;color: #666;font-weight: 500;font-size: var(--small-size);line-height: 5.4444vw;vertical-align: middle;}
.privacy-popup table thead tr > th:last-child {border-right: 0;}
.privacy-popup table tbody td {padding: 5.5556vw 4.4444vw;border: 1px solid #ebebeb;border-left: 0;}
.privacy-popup table tbody tr > td:last-child {border-right: 0;}

/* 이메일무단수집거부 */
.email_collect_refuse {padding: 21.1111vw 0;}
.email_collect_refuse .page-tit {margin-bottom: 5.5556vw;font-weight: 700;font-size: 6.6667vw;line-height: 9.3333vw;}
.email_collect_refuse .page-desc-sec {margin-top: 5.5556vw;}
.email_collect_refuse .sub-tit {margin-bottom: 11.1111vw;font-weight: 700;font-size: var(--title-type3);line-height: 7vw;}
.email_collect_refuse p {color: #666;}
.email_collect_refuse .desc,
.email_collect_refuse .extra-info {margin-bottom: 57.2222vw;font-weight: 500;font-size: var( --small-size);line-height: 5.4444vw;}
.email_collect_refuse .extra-info {margin: 0;text-align: right;color: #999;}

/* 금융소비자보호 */
.financial_popup {padding: 21.1111vw 0;}
.financial_popup .page-tit {margin-bottom: 13.8889vw;font-weight: 700;font-size: 6.6667vw;line-height: 9.3333vw;}
.financial_popup section:nth-of-type(n+2) {margin-top: 16.6667vw;}
.financial_popup .tit {margin-bottom: 8.3333vw;color: #150F96;font-weight: 600;font-size: var(--basic-size);line-height: 5.3333vw}
.financial_popup h3, .financial_popup .desc, .financial_popup li {color: #666;font-weight: 500;font-size: var(--small-size);line-height: 5.3333vw;}
.financial_popup h3 {margin-bottom: 1.6667vw;font-weight: 600;}
.financial_popup .list > li {margin-bottom: 8.3333vw}
.financial_popup .list > li.mb-0 {margin-bottom: 0;}

















/* 보험대리점등록증 */
.regi_popup {padding: 21.1111vw 0;}
.regi_popup .page-tit {margin-bottom: 9.4444vw;font-weight: 700;font-size: 6.6667vw;line-height: 9.3333vw;}
.regi_popup img {display:block;width:100%;width: 88.8889vw;margin:0 auto}

/* 공시실 */
.disclosure-table {padding: 21.1111vw 0;}
.disclosure-table .page-tit {margin-bottom: 13.8889vw;font-weight: 700;font-size: 6.6667vw;line-height: 9.3333vw;}
.disclosure-table .flexbox {display: flex;justify-content: flex-end;margin: 13.8889vw 0;}
.disclosure-table select {width: 45.5556vw;height: 11.1111vw;padding: 2.2222vw 3.3333vw;border: 0.2778vw solid #C8C8C8;font-size: var(--small-size);line-height: 5.4444vw;font-weight:500;background: url(../images/icon/icon_arrow_down.png) no-repeat;background-position: right 3.3333vw center;background-size: 6.6667vw;}
.disclosure-table .sec:nth-of-type(n+2) {margin-top: 13.8889vw;}
.disclosure-table .tit {margin-bottom: 2.2222vw;font-weight: 600;font-size: var(--basic-size);line-height: 6.2222vw;}
.disclosure-table .table-wrap {overflow-y: hidden;overflow-x: auto;}
.disclosure-table .table-wrap table th,
.disclosure-table .table-wrap table td {color: #666;font-weight: 500;font-size: var(--small-size);line-height: 5.4444vw;}
.disclosure-table .table-wrap table {width: 100%;}
.disclosure-table .table-wrap table tbody th {background-color: #f9f9f9;}
.disclosure-table .table-wrap table tbody th,
.disclosure-table .table-wrap table tbody td {padding: 5.5556vw 4.4444vw;border: 1px solid #ebebeb;border-left: 0;}
.disclosure-table .table-wrap table tbody tr > td:last-child {border-right: 0;}
.disclosure-table .sec02 table {width: 150vw;}
.disclosure-table .listbox-group {position: relative;width: 45.5556vw;text-align: left;}
.disclosure-table .listbox-group.active .listbox-list {display: block;}
.disclosure-table .listbox-group.active .label::after {transform: translateY(-50%) rotate(180deg);}
.disclosure-table .listbox-group .label {position:relative;width: 100%;height: 11.1111vw;padding: 2.2222vw 3.3333vw;border: 1px solid #c8c8c8;background: #fff;text-align:left;font-weight:500;font-size: var(--small-size);line-height: 5.4444vw;cursor: pointer;}
.disclosure-table .listbox-group .label::after {content: '';position: absolute;top: 50%;right: 3.3333vw;transform: translateY(-50%);width: 6.6667vw;height: 6.6667vw;background: url(../images/icon/icon_arrow_down.png) 50% 50% no-repeat;background-size: cover;}
.disclosure-table .listbox-group .listbox-list {position: absolute;top: calc(100% + 2.7778vw);left: 0;display: none;width: 100%;min-width: -webkit-fit-content;min-width: -moz-fit-content;min-width: fit-content;max-height: 21.6rem;padding: 3.3333vw;border: 1px solid #c8c8c8;overflow-y: auto;background-color: #fff;z-index: 100;scrollbar-width: thin;}
.disclosure-table .listbox-group .listbox-list li {display: flex;align-items: center;height: 8.3333vw;font-weight:500;font-size: var(--small-size);line-height: 5.4444vw;background-color: #fff;cursor: pointer;}
.disclosure-table .listbox-group .listbox-list li:hover {background-color: rgba(243, 243, 243, 0.5)}
.disclosure-table .listbox-group .listbox-list li:nth-of-type(n+2) {margin-top: 2.7778vw;}
.disclosure-table .listbox-group .listbox-list::-webkit-scrollbar {width: 0.6rem;height: 0.6rem;}
.disclosure-table .listbox-group .listbox-list::-webkit-scrollbar-thumb {background-color: #c8c8c8;background-clip: padding-box;border: 0.1rem solid #c8c8c8;}
.disclosure-table .listbox-group .listbox-list::-webkit-scrollbar-track {background-color: #ebebeb;}
