@import url(common/common.css);
/* tab common */
.recruit .content {display: none;}
.recruit .content.active {display: block;}
/* .tmr-recruit .content {display: none;}
.tmr-recruit .content.active {display: block;} */

/* 채용절차 */
.sub-wrap.recruit .visual:before {background-image:url(../images/re_recruit_visual.png)}
.sub-wrap.recruit .content.recruit-sec01 .desc {margin:15rem 0;padding-left:7.6rem;font-size:var(--title-type2);font-weight: 700;line-height: 140%;    word-break: keep-all;}
.sub-wrap.recruit .content.recruit-sec01 .desc {margin-bottom: 0;margin-top: 8rem;}
.sub-wrap.recruit .content.recruit-sec01 .desc + .desc {margin-top:3rem;margin-bottom: 15rem;}
.sub-wrap .acc-wrap {width:calc(100% - 4rem);margin:8rem auto 0;border-top: 2px solid #000;}
.sub-wrap .acc-wrap li {padding:3.2rem 0;border-bottom: 1px solid #EBEBEB;}
.sub-wrap .acc-wrap .txt {position:relative;padding-right: 5.4rem;}
.sub-wrap .acc-wrap .txt:after {position: absolute;right: 0;background: url(../images/icon/icon_arrow_down.png);width:2.4rem;height: 2.4rem;display: block;transition:.3s ease;
background-size: contain;top:2.8rem;content: '';}
.sub-wrap .acc-wrap .txt.active:after {transform: rotate(180deg);}
.sub-wrap .acc-wrap .txt span {display:block;margin-bottom:0.8rem;font-size: var(--small-size);font-weight: 500;line-height: 140%;}
.sub-wrap .acc-wrap .txt p {font-size: var(--title-type3);font-weight: 700;line-height: 140%;}
.sub-wrap .acc-wrap .cont {margin-top:3rem;font-size: var(--small-size);font-weight:500;color:#666;line-height: 140%;}

/* 인터넷보험call TMR 지원문의 BOX */
.recruit-box {margin:15rem 0 0;}
.recruit-box .box + .box {margin-top: 2rem;}
.recruit-box .box {padding:2rem; background:#f9f9f9;}
.recruit-box .box .title {font-size: var(--small-size);font-weight: 700;white-space: pre;}
.recruit-box .box .number-wrap {text-align: right;}
.recruit-box .box .number-wrap p:first-child {font-size:7.222vw;line-height: 100%;font-weight:700;}
.recruit-box .box .number-wrap p:nth-of-type(2) {margin-top:0.8rem;font-size:3.611vw;color:#666;font-weight:500;line-height: 100%;}
.recruit-box .box .number-wrap ul {margin-top:2.1rem;display: flex;column-gap:1.6rem;justify-content: flex-end;}
.recruit-box .box:last-child .number-wrap ul {margin-top:4.2rem;}
.recruit-box .box .number-wrap li {position:relative;font-size:3.333vw;font-weight: 500;line-height: 100%;color:#666;white-space:pre;}
.recruit-box .box .number-wrap li::after {position: absolute;width:0.4rem;height:0.4rem;right:-1rem;top:50%;transform:translateY(-50%);background:#dcdcdc;border-radius:50%;content: '';}
.recruit-box .box .number-wrap li:last-child::after {display: none;}

/* 채용절차 */
.recruit-sec01 .process ul {padding-left: 5.6rem;margin-top: 5rem;}
.recruit-sec01 .process li {position:relative;display: flex;flex-wrap: wrap;align-items: center;}
.recruit-sec01 .process li::after {position:absolute;width:6.4rem;height:2.1rem;bottom:-6rem;background:url(../images/icon/step-arrow.png);background-size:contain;content: '';}
.recruit-sec01 .process li:last-child:after {display: none;}
.recruit-sec01 .process li + li {margin-top: 10.1rem;}
.recruit-sec01 .process li div {padding:0.7rem 0;}
.recruit-sec01 .process li img {width:6.4rem;margin-right: 2rem;}
.recruit-sec01 .process li p {font-size: var(--title-type3);font-weight:700;line-height: 140%;}
.recruit-sec01 .process li span {display: block;margin-top: 0.8rem;font-size: var(--small-size);font-weight: 500;color:#666}
.recruit-sec01 .notice-box {width: calc(100% - 4rem);margin:8rem auto;padding:3rem 0;font-size: var(--small-size);font-weight:500;line-height: 140%;color:#666;border-top: 1px solid #ebebeb; border-bottom:1px solid #ebebeb}
.recruit-sec01 .btn {margin:auto}

/* 복리후생제도 */
.recruit-sec02 {margin-top: 8rem;}
.recruit-sec02 ul {display: flex;flex-wrap: wrap;row-gap:7rem;column-gap: 4rem;}
.recruit-sec02 li {width:calc(50% - 2rem);}
.recruit-sec02 li img {display:block;width: 4.8rem;}
.recruit-sec02 li p {font-size: var(--small-size);font-weight: 500;color:#666;line-height: 140%;}
.recruit-sec02 li p.title {margin:2rem 0 0.6rem;font-size: var(--title-type3);font-weight:700;color:#000;}

/* 인재상 */
.sub-wrap .content.recruit-sec03 > .desc {margin:8rem 0 15rem}
.recruit-sec03 .ico-box .ico {margin-top:7rem;text-align: center;}
.recruit-sec03 .ico-box .ico + .ico {margin-top: 8rem;}
.recruit-sec03 .ico-box .ico img {width: 7.2rem;}
.recruit-sec03 .ico-box .ico p {font-size: var(--small-size);font-weight: 500;line-height: 140%;color:#666;}
.recruit-sec03 .ico-box .ico p.title {margin:2rem 0 0.8rem;font-size: var(--title-type3);font-weight:700;color:#000;}

/* 자주하는질문 */
.recruit-sec04 .acc-wrap {width:calc(100% - 4rem);margin:8rem auto 0;border-top: 2px solid #000;}
.recruit-sec04 .acc-wrap li {padding:3.2rem 0;border-bottom: 1px solid #EBEBEB;}
.recruit-sec04 .acc-wrap li.empty .txt:after {display: none;}
.recruit-sec04 .acc-wrap .txt {padding-right: 5.4rem;}
.recruit-sec04 .acc-wrap .txt span {font-size: var(--small-size);font-weight: 500;line-height: 140%;}
.recruit-sec04 .acc-wrap .txt p {font-size: var(--title-type3);font-weight: 700;line-height: 140%;}
.recruit-sec04 .acc-wrap .cont {font-size: var(--small-size);font-weight: 500;line-height: 150%;letter-spacing: 0.05em;color:#666;padding:0;margin:0;height: 0;opacity:0;transition:0.3s ease;}
.recruit-sec04 .acc-wrap .txt.acc-active + .cont {opacity: 1;transition:0;margin-top:3rem;height: auto;}
.recruit-sec04 .acc-wrap .txt.acc-active:after {transform: rotate(180deg);transition:0.3s ease;}
.recruit-sec04 .mail-box {margin:15rem auto 0;}

/* TMR 인재채용 */
.sub-wrap.tmr-recruit .visual:before {background-image:url(../images/re_tmr_visual.png)}
.sub-wrap.tmr-recruit .visual h1 p:last-child {padding-left:7.778vw}
.tmr-recruit .sub-content .desc {margin:8rem 0 15rem;padding-left:7.6rem;font-size:var(--title-type2);font-weight: 700;line-height: 140%;    word-break: keep-all;}
    /* 선택라이나 약속 */
.sub-sec01 .text-box .text {padding-left:5.6rem;margin-top: 5rem;}
.sub-sec01 .text-box .text + .text {margin-top: 8rem;}
.sub-sec01 .text-box .text .point {display:inline-block;width:0.6rem;height:0.6rem;background:#FF0198;border-radius:50%;margin-left:0.5rem;margin-bottom:1.2rem;}
.sub-sec01 .text-box .text .point + .point {margin-left:1.2rem;}
.sub-sec01 .text-box .text p.title {font-size: var(--title-type3);font-weight:700;line-height: 140%;color:#000}
.sub-sec01 .text-box .text p.desc {font-size: var(--small-size);font-weight: 500;line-height: 150%;color:#666;padding:0;margin:0;margin-top:1rem;}
.sub-sec01 .info-box {margin-top: 17rem;margin-left: 7.6rem;}
.sub-sec01 .info-box img {display: block;width: 100%;}
.sub-sec01 .info-box .txt > span {display:block;margin:5rem 0 2rem;font-size: var(--basic-size);font-weight:700;line-height:140%;}
.sub-sec01 .info-box .txt > p {padding-right:2rem;padding-bottom:7rem;font-size: var(--title-type3);font-weight:700;line-height: 140%;}
.sub-sec01 .info-box .info {margin-right: 2rem;padding-top:2rem;border-top: 2px solid #000;}
.sub-sec01 .info-box .info > span {font-size: var(--small-size);font-weight: 700;line-height: 100%;}
.sub-sec01 .info-box .info > p {margin-top: 3rem;font-size: var(--title-type2);font-weight: 700;line-height: 100%;}
.sub-sec01 .info-box .info > p strong {padding-left:1.2rem;font-size:9.444vw;font-weight: 700;}
.sub-sec01 .info-box .info > p.noti {margin-top:1.4rem;font-size: var(--small-size);font-weight: 500;line-height: 100%;color:#666}
    /* 선택라이나 맞춤 */
.sub-sec02 {margin-top: 8rem;}
.sub-sec02 .center-box + .center-box {margin-top: 15rem;}
.sub-sec02 .item {margin-left:5.6rem;margin-top: 5rem;}
.sub-sec02 .icon {padding-bottom: 4rem;border-bottom:1px solid #000;}
.sub-sec02 .icon img {display:block;width:7.2rem;margin-bottom: 3rem;}
.sub-sec02 .icon .title {font-size: var(--title-type3);font-weight:700;line-height: 140%;}
.sub-sec02 .icon span {display: block;margin-top:0.8rem;font-size: var(--small-size);font-weight: 500;color:#666;line-height: 140%;}
.sub-sec02 .info li {padding: 3rem 0;border-bottom:1px solid #EBEBEB}
.sub-sec02 .info li p {display:flex;align-items:center;margin-bottom:1.5rem;font-size: var(--basic-size);font-weight: 700;line-height: 150%;color:#000;}
.sub-sec02 .info li p img {display: inline-block;width:2rem;margin-right: 0.8rem;}
.sub-sec02 .info li span {display:block;font-size: var(--small-size);font-weight: 500;line-height: 140%;color:#666}
    /* 선택라이나 소식 */
.sub-sec03 .list {margin-top: 8rem;}
.sub-sec03 .list li + li {margin-top: 8rem;}
.sub-sec03 .list img {display:block;width:100%;}
.sub-sec03 .list a {color:#000}
.sub-sec03 .list p {white-space: nowrap;text-overflow: ellipsis;overflow: hidden;}
.sub-sec03 .list .title {font-size:var(--title-type3);font-weight:700;line-height:140%;margin:1.8rem 0 0.4rem;}
.sub-sec03 .list .desc {font-size: var(--small-size);font-weight:500;line-height: 140%;color:#666;margin:0;padding:0;}
.sub-sec03 .btn-more {margin:3rem auto 0;}

/* TMR 지원서 작성하기 */
.sub-wrap .content.trm-recruit-sec02 .desc {margin:15rem 0;padding-left:7.6rem;font-size:var(--title-type2);font-weight: 700;line-height: 140%;    word-break: keep-all;}
.sub-wrap .content.trm-recruit-sec02 .desc {margin: 8rem 0 0;}
.sub-wrap .content.trm-recruit-sec02 .desc + .desc {margin-top: 3rem; margin-bottom: 8rem;}
.trm-recruit-sec02 .linaTmr {padding-left:5.6rem;font-size: 11.111vw;line-height:140%;font-weight:900;color: #150F96;}
.trm-recruit-sec02 .btn {margin: 8rem auto 0;}
.trm-recruit-sec02 .col-box {margin-top:20rem;padding:3rem;background: #F9F9F9;border-radius: 8px;}
.trm-recruit-sec02 .col-box:first-of-type {margin-top: 3rem;}
.trm-recruit-sec02 .col-box .badge {display:inline-block;width:7rem;height:2.6rem;font-size:3.333vw;color:#fff;line-height:2.6rem;font-weight:600;border-radius: 0.4rem;text-align: center;}
.trm-recruit-sec02 .col-box .badge.blue {background: #01C1D6;}
.trm-recruit-sec02 .col-box .badge.green {background:#7ACB00;}
.trm-recruit-sec02 .col-box .title {margin-top: 1.6rem;padding-bottom: 3rem;font-size: var(--title-type2);font-weight: 700;line-height: 140%;border-bottom: 1px solid #000;}
.trm-recruit-sec02 .col-box .txt {margin-top: 3rem;}
.trm-recruit-sec02 .col-box .txt + .txt {margin-top:2.4rem;}
.trm-recruit-sec02 .col-box .txt .txt-title {font-size: var(--basic-size);font-weight: 700;line-height: 140%;white-space: pre-line;}
.trm-recruit-sec02 .col-box .txt span {display: block;margin-top:0.8rem;font-size: var(--small-size);font-weight: 500;color:#666;line-height: 140%;}
.trm-recruit-sec02 .col-box .txt span + span {margin-top: 0.6rem;}
.trm-recruit-sec02 .noti {margin-top:2rem;font-size: var(--small-size);font-weight: 500;color:#999}
.trm-recruit-sec03 .acc-wrap .cont {margin:0;font-size: var(--small-size);font-weight: 500;line-height: 150%;letter-spacing: 0.05em;color:#666;padding:0;height: 0;opacity:0;transition:0.3s ease;}
.trm-recruit-sec03 .acc-wrap .txt.acc-active + .cont {opacity: 1;transition:0;margin-top:3rem;height: auto;}
.trm-recruit-sec03 .acc-wrap .txt.acc-active:after {transform: rotate(180deg);transition:0.3s ease;}