@import url(common/reset.css);
@import url(common/common.css);
/* visual  */

/* overview */
.overview .visual-sec::after {background: url(../images/ab_over_visual_bg.png) 50% 50% no-repeat;background-size: cover;}
.overview .introduction-sec {position: relative;height: 69.375vw;padding-top:10.521vw;background: url(../images/ab_over_intro_bg.jpg) 50% 50% no-repeat;background-size: cover;box-sizing: border-box;background-position:bottom;}
.overview .introduction-sec .img-wrap {position: absolute;top: 50%;left:50%;transform: translate(-50%, -50%);display: flex;align-items: center;justify-content: space-between;width: 43.750vw;}
.overview .introduction-sec .img-wrap div:nth-of-type(1) ,.overview .introduction-sec .img-wrap div:nth-of-type(3) {width:18.750vw;height:18.750vw;border-radius:50%;overflow: hidden;}
.overview .introduction-sec .img-wrap div:nth-of-type(1) {box-shadow: 30px 34px 174px rgb(21 15 150 / 20%);}
.overview .introduction-sec .img-wrap div:nth-of-type(2) {position:absolute;top:50%;left:50%;transform: translate(-50%, -50%);}
.overview .introduction-sec .img-wrap div:nth-of-type(3) {box-shadow: 30px 34px 174px rgba(0, 0, 0, 0.2);}
.overview .introduction-sec .img-wrap div:nth-of-type(1) img {width: 100%;}
.overview .introduction-sec .img-wrap div:nth-of-type(2) img {width: 6.667vw;}
.overview .introduction-sec .img-wrap div:nth-of-type(3) img {width: 100%;}
.overview .introduction-sec .inner {display: flex;}
.overview .introduction-sec .sub-tit {font-weight: 700;font-size: 1.250vw;line-height: 1.875vw;}
.overview .introduction-sec .text-area {width:calc(100% - 16.875vw);margin-left: auto;}
.overview .introduction-sec .tit {font-weight: 700;font-size: 2.083vw;line-height: 2.917vw;}
.overview .introduction-sec .desc {margin-top: 0.833vw;color: #666;font-weight: 400;font-size: 1.042vw;line-height: 1.458vw;}
.overview .definition-sec {padding-top:16.563vw;}
.overview .definition-sec .inner {display: flex;}
.overview .definition-sec .sub-tit {font-weight: 700;font-size: 1.250vw;line-height: 1.875vw;}
.overview .definition-sec .col-wrap .col {display: flex;}
.overview .definition-sec .col:first-child {margin-bottom: 13.021vw;}
.overview .definition-sec .col:first-child dl:last-child dd strong:nth-of-type(2) {margin-left: 2.083vw;}
.overview .definition-sec .col-cont {width:calc(100% - 16.875vw);margin-left: auto;}
.overview .definition-sec .tit {font-weight: 700;font-size: 2.083vw;line-height: 2.917vw;}
.overview .definition-sec .total-data {margin-top: 6.771vw;}
.overview .definition-sec .total-data dd {font-weight: 700;font-size: 1.458vw;line-height:2.188vw;letter-spacing: -0.02em;}
.overview .definition-sec .total-data .info {display: flex;flex-wrap: wrap;}
.overview .definition-sec .total-data dl {width: 50%;}
.overview .definition-sec .total-data dl:nth-child(n+3) {margin-top: 4.167vw;}
.overview .definition-sec .total-data dl:last-child {width: 100%;}
.overview .definition-sec .total-data dd strong {margin-right:0.208vw;font-weight: 700;font-size:4.688vw;line-height: 7.031vw;}
.overview .definition-sec .total-data dd strong:nth-of-type(2) {margin-left: 0.521vw;}
.overview .definition-sec .total-data dt {margin-top:0.208vw;color: #999;font-weight: 500;font-size:0.885vw;line-height: 1.239vw;}
.overview .definition-sec .total-data .extra-info {margin-top: 3.125vw;text-align: right;color: #999;font-weight: 400;font-size:0.885vw;line-height: 12.396vw;}

/* CEO Interview */
.interview #contents {margin-bottom: 0;}
.interview.sub_wrap .visual-sec {padding-top:18.0729vw;height:21.0938vw;}
.interview.sub_wrap .visual-sec.active {height:21.0938vw;}
.interview #contents .visual-sec {height:21.0938vw;}
.interview .visual-sec::after {height: 1vw;left:50%;bottom:0;transform:translateX(-50%);background: url(../images/ab_interview_visual.png) 50% 50% no-repeat;background-size: cover;}
.interview .visual-sec.active::after {height: 22.813vw;width:100%;transition-duration:0.6s;}
.interview .visual-sec .page-tit.type2 {left:11.8750vw;}
.interview .visual-sec .page-tit.type2 span {line-height:5.5990vw;}
.interview .visual-sec .page-tit.type2 span:nth-child(2) {padding-left:4.688vw;}
.interview .page-desc-sec {padding-bottom:13.021vw}
.interview .page-desc-sec .sub-tit {font-size:2.083vw;line-height: 2.917vw;}
.interview .page-desc-sec .sub-tit span {display:block;margin-bottom:1.6rem;font-size: 1.250vw;font-weight:500;line-height:1.750vw}
.interview .page-desc-sec .sign {width: 26.875vw;height: 5.2604vw;margin-top: 4.7917vw;}
.interview .page-sec01 {padding:9.271vw 0 9.219vw;background:url(../images/ab_interview_img01.png);background-size:cover}
.interview .page-sec01 .inner {padding-left: 16.875vw;}
.interview .page-sec01 .desc {font-size:1.667vw;line-height:2.292vw;font-weight:700;color:#fff;letter-spacing: -0.03em;word-break: keep-all;}
.interview .page-sec01 .desc + .desc {margin-top: 4.167vw;}
.interview .page-sec01 .desc span {display:block;margin-top:0.833vw;font-size: 1.250vw;line-height: 1.750vw;letter-spacing:-0.03em;font-weight:500;color:rgba(255,255,255,.6)}
.interview .page-interview {margin-top: 13.021vw;}
.interview .page-interview .col + .col {margin-top: 13.021vw;}
.interview .page-interview .col:last-of-type {justify-content: flex-end;}
.interview .page-interview .right {display:flex;column-gap:8.438vw;}
.interview .page-interview .right .subject {width: 8.438vw;font-size: 1.250vw;font-weight:700;line-height: 1.875vw;}
.interview .page-interview .right img {width: 49.479vw;}
.interview .page-interview .right .cont {width: calc(100% - 16.875vw);}
.interview .page-interview li + li {margin-top: 3.125vw;}
.interview .page-interview p {position: relative}
.interview .page-interview .question {padding-left:3.125vw;margin-bottom:1.328vw;font-size: 1.667vw;font-weight:700;line-height:2.333vw;}
.interview .page-interview .answer {padding-left:3.125vw;font-size: 1.042vw;line-height: 1.563vw;font-weight: 500;letter-spacing: 0.02em;word-break: keep-all;}
.interview .page-interview .answer span {display: block;font-size: 1.042vw;line-height: 1.563vw;font-weight: 500;letter-spacing: 0.02em;}
.interview .page-interview .answer span:first-child {margin-top: 0.729vw;}
.interview .page-interview p:after {position:absolute;left:0;top:0;font-size: 1.875vw;font-weight:700;line-height:2.333vw;}
.interview .page-interview .question:after {content: "Q.";}
.interview .page-interview .answer:after {content: "A.";}
.interview .page-interview .left img {width: 32.656vw;}
.interview .page-interview .left .txt {margin-top:3.125vw;padding-left: 16.875vw;}
.interview .page-interview .left .txt + .txt {margin-top: 5.729vw;}
.interview .page-sec02 {margin-top:13.021vw;padding:12.500vw 0;background:url(../../assets/images/ab_interview_img04.png);background-size: cover;}
.interview .page-sec02 .inner {display: flex;}
.interview .page-sec02 .col:last-child {width: calc(100% - 16.875vw);margin-left: auto;}
.interview .page-sec02 .subect {font-size: 1.354vw;line-height: 2.031vw;font-weight:700;color:#fff;}
.interview .page-sec02 .tit {font-size: 2.083vw;line-height: 2.917vw;font-weight: 700;color:#fff}
.interview .page-sec02 .desc {margin-top: 0.833vw;font-size: 1.042vw;line-height: 1.458vw;font-weight:500;color:rgba(255,255,255,.6)}

/* vision&mission */
.vision .visual-sec::after {background: url(../images/ab_vision_visual_bg.jpg) 50% 50% no-repeat;background-size: cover;}
.vision .visual-sec .page-tit-line:last-child span{margin-left: 10.2083vw;}
.vision .page-desc-sec {padding-bottom:0;}
.vision .page-desc-sec .inner {padding-left: 0;}
.vision .page-desc-sec .sub-tit {padding-left: 16.875vw;}
.vision .page-desc-sec img {display: block;width: 55.833vw;margin:0 auto;}
.vision .concept-sec {padding-top: 8.646vw;padding-bottom: 15.625vw}
.vision .concept-sec .inner {display: flex;}
.vision .concept-sec .sub-tit {display:block;padding-top: 1.302vw;font-weight: 700;font-size: 1.250vw;line-height: 1.875vw;}
.vision .concept-sec .text-area {margin-left: 8.646vw;}
.vision .concept-sec .tit {font-weight: 700;font-size:2.813vw;line-height: 4.219vw;}
.vision .concept-sec .desc {margin-top:1.042vw;font-weight:500;font-size:1.563vw;line-height: 1.458vw;}
.vision .bhr-vision-sec {padding:13.021vw 0;background: url(../images/ab_vision_bhr_bg.png) 50% 50% no-repeat; background-size: cover;color: #fff;}
.vision .bhr-vision-sec .inner {display: flex;justify-content: space-between;}
.vision .bhr-vision-sec .inner > div {width:29.219vw}
.vision .bhr-vision-sec .sub-tit {display:block;padding-bottom: 1.042vw;font-weight: 700;font-size: 1.250vw;line-height: 1.875vw;border-bottom:2px solid #fff;}
.vision .bhr-vision-sec .subject {margin-top:3.125vw;font-weight: 700;font-size: 2.083vw;line-height: 2.917vw;}
.vision .bhr-vision-sec .desc {display:block;margin-top: 0.833vw;color: rgba(255,255,255,0.5);font-weight:500;font-size: 1.042vw;line-height: 1.458vw;}
.vision .brand-behavior-sec {padding-top: 13.021vw;}
.vision .brand-behavior-sec .inner {display: flex;flex-wrap: wrap;}
.vision .brand-behavior-sec .tit {white-space: nowrap;font-weight: 700;font-size: 1.250vw;line-height: 1.875vw;}
.vision .brand-behavior-sec .tit + p {margin-left: 9.479vw;font-weight: 700;font-size: 1.667vw;line-height:2.333vw;}
.vision .brand-behavior-sec .brand-behavior-list {display:flex;flex-wrap: wrap;margin-left: 16.875vw;margin-top: 6.250vw;row-gap:5.208vw;}
.vision .brand-behavior-sec .brand-behavior-item {width: 24vw;height: 6.667vw;box-sizing: border-box;}
.vision .brand-behavior-sec .brand-behavior-item p {display: flex;text-align: left;flex-direction: column;width: 100%;height: 100%;color:#999;font-weight: 500;font-size: 1.042vw;line-height: 1.563vw;justify-content: center;}
.vision .brand-behavior-sec .brand-behavior-item p .num {color:#150F96;font-weight: 700;font-size: 1.042vw;line-height:1.563vw;}
.vision .brand-behavior-sec .brand-behavior-item p strong {margin: 0.313vw 0;color:#000;font-weight: 700;font-size: 2.083vw;line-height: 2.917vw;}

/* corporate identity */
.corporate .visual-sec::after {background: url(../images/ab_ci_visual_bg.jpg) 50% 50% no-repeat;background-size: cover;}
.corporate .visual-sec .page-tit-line:last-child span {margin-left:18.6458vw;padding-top: 1.3021vw;padding-bottom: 2vw;}
.corporate .identity-guide-sec {padding-top: 5.208vw;}
.corporate .identity-guide-sec .identity-list li {display: flex;}
.corporate .identity-guide-sec .identity-list li .label {width:7.396vw;margin-right: 9.479vw;font-weight: 700;font-size: 1.250vw;line-height: 1.875vw;}
.corporate .identity-guide-sec .identity-list li .info {display: flex;align-items: center;justify-content:center;flex-direction: column;width: calc(100% - 16.823vw);min-height: 12.760vw;}
.corporate .identity-guide-sec .identity-list li + li {margin-top: 6.771vw;}
.corporate .identity-guide-sec .identity-list li img {display:block;height: 13.281vw}
.corporate .identity-guide-sec .identity-list li:first-child img {height:16.406vw}
.corporate .identity-guide-sec .identity-list li:last-of-type img {height:16.615vw;}

/* promotional video */
.promational .visual-sec::after {background: url(../images/ab_pv_visual_bg.jpg) 50% 50% no-repeat;background-size: cover;}
.promational .visual-sec .page-tit-line:last-child span {margin-left: 30.3125vw;}
.promational .page-desc-sec {padding-top: 8.854vw;padding-bottom: 0;}
.promational .page-desc-sec .inner {display: flex;padding: 0;}
.promational .page-desc-sec .video-area {width: 41.094vw}
.promational .page-desc-sec .video-area img {width: inherit;}
.promational .page-desc-sec .text-area {margin: 0; padding-left: 3.646vw;}
.promational .page-desc-sec .text-area .tit {padding-bottom: 1.042vw;border-bottom: .2rem solid #000;font-weight: 700;font-size:1.771vw;line-height: 2.479vw;}
.promational .page-desc-sec .text-area .desc {height: 15.521vw;padding-right: 1.042vw;overflow-y: auto;margin-top: 1.563vw;box-sizing: border-box;color: #000;font-weight: 500;font-size: 1.042vw;line-height: 1.458vw;}
.promational .page-desc-sec .text-area .desc::-webkit-scrollbar {width:0.313vw;height:0.313vw}
.promational .page-desc-sec .text-area .desc::-webkit-scrollbar-thumb {background-color: #c8c8c8;background-clip: padding-box;border: 0.1rem solid #c8c8c8;}
.promational .page-desc-sec .text-area .desc::-webkit-scrollbar-track {background-color: #ebebeb;border: 0.2rem solid transparent;background-clip: padding-box;}

/* News - list */
.news.sub_wrap .page-desc-sec .sub-tit {font-size: 2.083vw;}
.news .visual-sec::after {background: url(../images/ab_news_visual.png) 50% 50% no-repeat;background-size: cover;}
.news .page-desc-sec {padding-bottom:4.375vw;}

/* contact us */
.contact .workplace-sec#tab-cont2 {padding-top:8.646vw}
.contact .visual-sec::after {background: url(../images/ab_cu_visual_bg.jpg) 50% 50% no-repeat;background-size: cover;}
.contact .visual-sec .page-tit-line:last-child span {margin-left: 20.1563vw;}
.contact .page-tab-sec {margin: 5.208vw 0 0;}
.contact .page-tab-sec.type2 {padding-bottom: 3.750vw;}
.contact .workplace-sec {display:none;padding-top:3.021vw;}
.contact .workplace-sec.active {display: block;}
.contact .workplace-sec img {width: 100%;}
.contact .workplace-sec .info-wrap {width: 49.479vw;margin-top: 5.208vw;margin-left: auto;}
.contact .workplace-sec .desc {color: #666;font-weight: 500;font-size:1.042vw;line-height: 1.563vw;}
.contact .workplace-sec .desc strong {display: block;margin-bottom: 1.042vw;color: #000;font-weight: 700;font-size:1.458vw;line-height: 2.042vw;}
.contact .workplace-sec .location-area {margin-top: 2.604vw;}
/* height 값 임의지정위한 dumy class */
.contact .workplace-sec .location-area.dumy {padding-bottom:0.1rem;}
.contact .workplace-sec dl {display: flex;align-items: center;padding: 2.188vw 0;border-top: .1rem solid #ebebeb;}
.contact .workplace-sec dl:last-child{border-bottom: .1rem solid #ebebeb;}
.contact .workplace-sec dt {display:flex;align-items:center;width: 15.781vw;font-weight: 700;font-size: 1.042vw;line-height: 1.563vw;}
.contact .workplace-sec dt::before {content: ''; display: inline-block;width: 1.250vw;height: 1.250vw;margin-top: -.1rem;margin-right: 0.938vw;}
.contact .workplace-sec dt.corp-name::before {background: url(../images/icons/icon_company.png) 50% 50% no-repeat;background-size: cover;}
.contact .workplace-sec dt.location::before {background: url(../images/icons/icon_location.png) 50% 50% no-repeat;background-size: cover;}
.contact .workplace-sec dt.key-number::before {background: url(../images/icons/icon_key_number.png) 50% 50% no-repeat;background-size: cover;}
.contact .workplace-sec dt.service-number::before {background: url(../images/icons/icon_service_number.png) 50% 50% no-repeat;background-size: cover;}
.contact .workplace-sec dt.tm-service::before {background: url(../images/icons/icon_tm_service.png) 50% 50% no-repeat;background-size: cover;}
.contact .workplace-sec dt.traffic-guide::before {background: url(../images/icons/icon_traffic_guide.png) 50% 50% no-repeat;background-size: cover;}
.contact .workplace-sec dd {color: #666;font-weight: 500;font-size: 1.042vw;line-height: 1.563vw;}

/* Associate & Proposal 제휴 제안 */
.associate .page-desc-sec {padding-bottom: 10.417vw;}
.associate .visual-sec::after {background: url(../images/ab_ass_visual.png) 50% 50% no-repeat;background-size: cover;}
.associate .visual-sec .page-tit.type2 span:nth-child(2) {padding-left:19.948vw;}
.associate .col-3.inner {display:flex;flex-direction: column;}
.associate .partner {max-width:49.479vw;}
.associate .col-3 .col {display: flex;column-gap:9.479vw;}
.associate .col-3 .col + .col {margin-top: 13.021vw;}
.associate .col-3 .col .subject {width:7.396vw;font-size: 1.250vw;line-height:1.875vw;font-weight:700;white-space:nowrap;}
.associate .col-3 .partner .tit {font-size: 1.458vw;line-height: 2.042vw;font-weight:700;}
.associate .col-3 .partner .desc {margin-top:1.042vw;font-size: 1.042vw;line-height: 1.563vw;font-weight:500;color:#666}
.associate .col-3 .partner .icons {margin-top: 5.729vw;display:flex;flex-wrap: wrap;border-top: 1px solid #c8c8c8;}
.associate .col-3 .partner .icons span {width:25%;height: 7.292vw;display: flex;justify-content: center;align-items: center;border-left: 1px solid #c8c8c8;border-bottom:1px solid #c8c8c8;box-sizing: border-box;}
.associate .col-3 .partner .icons span.line,
.associate .col-3 .partner .icons span:nth-child(4n) {border-right: 1px solid #c8c8c8;}
.associate .col-3 .partner img {object-fit: contain;transform: scale(0.5);}
.associate .rule_wrap {display: flex;flex-direction: column;row-gap: 5.729vw;max-width: 49.479vw;}
.associate .rule_wrap .tit span {font-weight:700;font-size:1.250vw;line-height: 150%;}
.associate .rule_wrap .tit p {margin-top:0.833vw;font-weight:700;font-size:1.667vw;line-height: 150%;}
.associate .rule_wrap .cont {display: flex;column-gap:2.083vw;}
.associate .rule_wrap .cont .img {position:relative;width:4.688vw;}
.associate .rule_wrap .cont img {display:block;width:100%;width:4.688vw;}
.associate .rule_wrap .txt p {font-weight: 500;font-size: 1.042vw;line-height: 150%;color:#666}
.associate .rule_wrap .txt p + p {margin-top:1.042vw;}
.associate .rule_wrap .txt strong {display:block;margin-bottom:2.083vw;font-weight:500;font-size:24px;line-height:150%;color:#000;word-break: keep-all;}
.associate .rule_wrap .list {display: flex;flex-wrap: wrap;column-gap:2.604vw;row-gap:0.833vw;}
.associate .rule_wrap .list li {width:10.729vw;margin-left:1.042vw;font-weight: 500;font-size: 1.042vw;line-height:150%;color:#666;list-style: disc;}
.associate .mail_box {display:flex;justify-content:space-between;margin-top:13.021vw;padding:2.604vw;background: #F9F9F9;border-radius: 14px;}
.associate .mail_box .subject {font-weight:700;font-size:20px;line-height:170%;}
.associate .mail_box .desc {text-align:right;font-Weight:500;font-size:1.042vw;line-height:1.667vw;}
.associate .mail_box .desc a {display:block;font-Weight:500;font-size:0.885vw;line-height:1.417vw;color:#000;text-decoration: underline;}