@import url(common/reset.css);
@import url(common/common.css);
@media screen and (max-width: 1500px) {
    html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, form, fieldset, legend, label, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video{
        font-size: 43%;
    }
}
/* 개인정보처리방침 */
.privacy_popup #contents {margin: 0;padding: 60px 70px;color: #666;}
.privacy_popup .page_tit {margin-bottom: 50px;text-align: center;color: #000;font-weight: 700;font-size: 32px;line-height: 44.8px;}
.privacy_popup .page_desc {margin-bottom: 30px;font-weight: 500;font-size: 17px;line-height: 23.8px;}
.privacy_popup .sec {margin-bottom: 60px;}
.privacy_popup .tit {margin-bottom: 8px;color: #150F96;font-weight: 600;font-size: 24px;line-height: 36px;}
.privacy_popup  h3, .privacy_popup h4, .privacy_popup  li, .privacy_popup p {font-weight: 500;font-size: 17px;line-height: 23.8px}
.privacy_popup .list .desc {padding-left: 1.505rem;}
.privacy_popup .list .sub_list {margin-top: 1.7rem;padding-left: 3.9rem;}

.privacy_popup .sec01 h3 {font-weight: 600;font-size:20px;line-height: 30px;}
.privacy_popup .sec01 .list {margin-top: 30px;}
.privacy_popup .sec01 .list > li {margin-bottom: 20px;}
.privacy_popup .sec01 .list > li:last-child{margin: 0;}
.privacy_popup .sec01 .sub_list {margin-top: 8px;padding-left: 15px;}
.privacy_popup .sec04 table {margin-bottom: 31.7px;}
.privacy_popup .sec04 tbody td {height: auto;}
.privacy_popup .sec05 .sub_list {margin-top: 25px;margin-bottom: 47px;}
.privacy_popup .sec05 .sub_list li:nth-of-type(n+2) {margin-top: 20px;}
.privacy_popup .sec06 .sub_list {margin: 0;padding:0;}
.privacy_popup .sec06 .sub_list > li {margin-bottom: 20px;}
.privacy_popup .sec07 .list li:nth-of-type(n+2) {margin-top: 20px;}
.privacy_popup .sec08 .list {margin-top: 20px;}
.privacy_popup .sec10 .sub_list {margin: 0;padding: 0;}
.privacy_popup .sec10 thead th {height: 60px;}
.privacy_popup .sec10 tbody td {height: 60px;}
.privacy_popup .sec10 div {display: flex;height: 100%;}
.privacy_popup .sec10 div span {padding: 20px;font-weight: 400;font-size: 14px;line-height: 19.6px}
.privacy_popup .sec10 div span:first-child {width: 30%;border-right: 1px solid #ebebeb;}
.privacy_popup .sec11 thead th {height: 60px;}
.privacy_popup .sec11 tbody td {height: 60px;}
.privacy_popup .sec11 p:nth-of-type(2) {margin-top: 20px}
.privacy_popup .sec12 a, .privacy_popup .sec13 a {color: #666;}
.privacy_popup .sec12 a span {font-weight: 400;font-size: 17px;line-height: 23.8px;text-decoration: underline;}
.privacy_popup table {width: 100%;margin-top: 30px;}
.privacy_popup table thead th {height: 60px;padding: 20px;text-align: left;border-top: 1px solid #d7d7d7;border-bottom: 1px solid #d7d7d7;box-sizing: border-box;vertical-align: middle;background-color: #F9F9F9;}
.privacy_popup table tbody td {height: 100px;padding: 20px;border-bottom: 1px solid #ebebeb;box-sizing: border-box;}
.privacy_popup table th,td {word-break: keep-all;font-weight: 500;font-size: 14px;line-height: 19.6px;}
.privacy_popup .sec02 .list, .privacy_popup .sec06 .list, .privacy_popup .sec07 .list, .privacy_popup .sec09 .list,  .privacy_popup .sec10 .list, .privacy_popup .sec11 .list {margin-top: 26px;padding-left: 39px}
.privacy_popup .sec09 .list li:nth-of-type(n+2), .privacy_popup .sec10 .list li:nth-of-type(n+2), .privacy_popup .sec11 .list li:nth-of-type(n+2) {margin-top: 20px;}

/* 이메일무단수집거부 */
.email_collect_refuse #contents {margin:0; padding: 10rem 8rem;}
.email_collect_refuse .page_tit {font-weight: 700;font-size: 40px;line-height: 56px;}
.email_collect_refuse .page_desc_sec {margin-top: 2rem;}
.email_collect_refuse .sub_tit {margin-bottom: 4rem;font-weight: 700;font-size: 24px;line-height: 33.6px;}
.email_collect_refuse p {color: #666;}
.email_collect_refuse .desc {margin-bottom: 48px;font-weight: 500;font-size: 20px;;line-height: 30px;}
.email_collect_refuse .extra-info {text-align: right;font-weight: 500;font-size: 17px;line-height: 25.5px;}

/* 경영공시실 */
.disclosure .disclosure-sec {display: none;}
.disclosure .disclosure-sec.active {display: block;}
.disclosure .visual-sec::after {background: url(../images/dis_visual.png) 50% 50% no-repeat;background-size: cover;}
.disclosure .page-desc-sec {padding-bottom: 8.4rem;}
.disclosure .page-desc-sec .list {margin-top: 8rem;}
.disclosure .page-desc-sec .list li {position:relative;padding-left:2rem;font-weight:500;font-size:2rem;line-height:150%;color:#666}
.disclosure .page-desc-sec .list li strong {font-weight:700;font-size: inherit;}
.disclosure .page-desc-sec .list li::before {position:absolute;left:0;font-size:2rem;font-weight: 500;line-height:150%;color:#666;content:'※'}
.disclosure .page-desc-sec .box_wrap {margin-top:3rem;padding:2.6rem 3rem;background:#F9F9F9;}
.disclosure .page-desc-sec .box_wrap p {font-size: 1.7rem;font-weight:700;line-height: 2.55rem;color:#666;}
.disclosure .page-desc-sec .box_wrap li {font-size: 1.7rem;font-weight:500;line-height:2.55rem;color:#666;}
.disclosure .list_wrap ul {margin-top: 3.6rem;}
.disclosure .list_wrap li {display:flex;justify-content:space-between;padding:2.5rem 0;border-bottom:1px solid #ebebeb;align-items: center;}
.disclosure .list_wrap li.list_head {border-top:2px solid #000;}
.disclosure .list_wrap li.list_head span {font-size: 2rem;font-weight:400;line-height: 3rem;}
.disclosure .list_wrap li.list_head span:last-child {width:14.2rem;text-align: center;}
.disclosure .list_wrap li p {margin-right: 2rem;max-width:78.8rem;font-size: 2.4rem;line-height:3.6rem;font-weight:700;color:#000;text-align:left;overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;}
.disclosure .list_wrap li .btn {display:inline-block;width:12.2rem;height:5rem;font-size:1.7rem;color:#fff;background:#000;text-align: center;line-height: 5rem;}
.disclosure .list_wrap .pagination {margin-top: 6rem;}

/* list type2  */
.disclosure .list_wrap.type2 li.list_head {justify-content: initial;}
.disclosure .list_wrap.type2 li.list_head span {width: 14.2rem;text-align: left;margin:0;}
.disclosure .list_wrap.type2 li.list_head span:nth-child(1) {flex-basis: 78%;}
.disclosure .list_wrap.type2 li.list_head span:nth-child(3) {text-align: center;}
.disclosure .list_wrap.type2 li p {flex-basis:100%;max-width: 62.6rem;}
.disclosure .list_wrap.type2 li span {display:inline-block;flex-basis:16%;margin-left:2rem;font-size: 2rem;line-height:3rem;font-weight:500;color:#999;}
.disclosure .list_wrap.type2 li .btn {flex-basis:16%;max-width:12.2rem;}

/* 공시실 */
.disclosure-table #contents {margin: 0;padding: 60px 70px;color: #666;}
.disclosure-table, .disclosure-table > * {box-sizing: border-box;}
.disclosure-table h1 {font-size: 32px;line-height: 44.8px;font-weight: 700;text-align: center;color: #000;}
.disclosure-table .flexbox {margin-top: 50px;display: flex;justify-content: flex-end;}
.disclosure-table select {width: 250px;height: 50px;padding: 13px 20px; border: 1px solid #C8C8C8;font-size: 17px;line-height:23.8px;font-weight:500;background: url(../../assets/images/icons/icon_arrow_down.png)no-repeat;background-position: right 12px center;
background-size: 26px;}
.disclosure-table section {margin-bottom: 50px;}
.disclosure-table section:first-of-type {margin-top: 50px;}
.disclosure-table section h2 {font-weight: 600;font-size: 24px;line-height: 36px;}
.disclosure-table section h2 + h2 {margin-top: 25px;}
.disclosure-table section h2 + table {margin-top: 30px;}
.disclosure-table section table {table-layout: fixed;width:100%}
.disclosure-table section table td, th {padding: 2.4rem;font-size: 17px;line-height:23.8px;font-weight: 500;border-bottom: 1px solid #d7d7d7;border-collapse: collapse;}
.disclosure-table section table tr:first-child td, th {border-top: 1px solid #d7d7d7;}
.disclosure-table section table.type1 td:first-child {background:#F9F9F9;text-align: center;}
.disclosure-table section table.type3 tr:first-child th {background:#F9F9F9;text-align: center;}
.disclosure-table section table.type3 th, 
.disclosure-table section table.type3 td {border-right: 1px solid #000;text-align: center;}
.disclosure-table section table.type3 th:last-child,
.disclosure-table section table.type3 td:last-child {border-right: 0;}
.disclosure-table section table td.head {background:#F9F9F9;text-align: center;}
.disclosure-table section p {font-size: 17px;line-height:23.8px;font-weight: 500;}
.disclosure-table section table td a {color:#000}