@import url(common/reset.css);
@import url(common/common.css);

/* 개인정보처리방침 */
.privacy_popup #contents {margin: 0;padding: 10.2rem 5.3rem 0;color: #000;}
.privacy_popup .page_tit {margin-bottom: 5rem;text-align: center;color: #000;font-weight: 700;font-size: 3.2rem;line-height: 4.48rem;}
.privacy_popup .page_desc {margin-bottom:16.6rem;font-weight: 400;font-size: 2.5rem;line-height: 3.9rem;}
.privacy_popup .sec {margin-bottom: 20rem;}
.privacy_popup .tit {margin-bottom: 2.1rem;color: #150F96;font-weight: 400;font-size: 3rem;line-height: 3.601rem;}
.privacy_popup  h3, .privacy_popup h4, .privacy_popup  li, .privacy_popup p {font-weight: 400;font-size: 2.5rem;line-height: 3.9rem;}
.privacy_popup .list .desc {padding-left: 1.505rem;}
.privacy_popup .list .sub_list {margin-top: 1.7rem;padding-left: 3.9rem;}
.privacy_popup .sec01 .list > li {margin-top: 3rem;}
.privacy_popup .sec04 table {margin-top: 3.6rem;margin-bottom: 3.17rem;}
.privacy_popup .sec04 tbody td {height: auto;}
.privacy_popup .sec05 .sub_list {margin-top:2.5rem;margin-bottom: 4.7rem;}
.privacy_popup .sec05 .sub_list li:nth-of-type(n+2) {margin-top: 5.6rem;}
.privacy_popup .sec06 .sub_list {margin: 0;padding:0;}
.privacy_popup .sec06 .sub_list > li {margin-bottom: 5.6rem;}
.privacy_popup .sec07 .list li:nth-of-type(n+2) {margin-top: 5.6rem;}
.privacy_popup .sec08 .list {margin-top: 5.6rem;}
.privacy_popup .sec10 .sub_list {margin: 0;padding: 0;}
.privacy_popup .sec10 thead th {height: 10rem;}
.privacy_popup .sec10 tbody td {height:8rem;text-align: center;}
.privacy_popup .sec10 div {display: flex;height: 100%;}
.privacy_popup .sec10 div span {padding: 2rem;font-weight: 400;font-size: 2.5rem;line-height: 3.9rem;}
.privacy_popup .sec10 div span:first-child {width: 30%;border-right: 1px solid #000;}
.privacy_popup .sec11 thead th {height: 10rem;}
.privacy_popup .sec11 tbody td {height:8rem;text-align: center;}
.privacy_popup .sec12 a, .privacy_popup .sec13 a {color: #000;}
.privacy_popup .sec12 a span {font-weight: 400;font-size: 2.5rem;line-height: 3.9rem;text-decoration: underline;}
.privacy_popup table {width: 100%;margin-top: 3rem;}
.privacy_popup table thead th {height: 16.6rem;padding: 2rem;text-align: left;border-bottom: 1px solid #000;box-sizing: border-box;vertical-align: middle;background-color: #F9F9F9;text-align: center;}
.privacy_popup table tbody td {height: 15rem;padding:2rem;border-bottom: 1px solid #000;border-right: 1px solid #000;box-sizing: border-box;}
.privacy_popup table tbody tr > td:last-child {border-right: none;}
.privacy_popup table th,td {word-break: keep-all;font-weight: 400;font-size: 2.5rem;line-height: 3.9rem;}
.privacy_popup .sec02 .list, .privacy_popup .sec06 .list, .privacy_popup .sec07 .list, .privacy_popup .sec09 .list,  .privacy_popup .sec10 .list, .privacy_popup .sec11 .list {margin-top:2.6rem;padding-left: 3.9rem;}
.privacy_popup .sec09 .list li:nth-of-type(n+2), .privacy_popup .sec10 .list li:nth-of-type(n+2), .privacy_popup .sec11 .list li:nth-of-type(n+2) {margin-top: 5.6rem;}

/* 이메일무단수집거부 */
.email_collect_refuse #contents {margin:0; padding: 10rem 8rem;}
.email_collect_refuse .page_tit {font-weight: 700;font-size: 4rem;line-height: 5.6rem;}
.email_collect_refuse .page_desc_sec {margin-top: 2rem;}
.email_collect_refuse .sub_tit {margin-bottom: 4rem;font-weight: 700;font-size: 2.4rem;line-height: 3.36rem;}
.email_collect_refuse p {color: #666;}
.email_collect_refuse .desc {margin-bottom: 4.8rem;font-weight: 500;font-size: 2rem;line-height: 3rem;}
.email_collect_refuse .extra-info {text-align: right;font-weight: 500;font-size: 1.7rem;line-height: 2.55rem;}

/* 경영공시실 */
.disclosure .disclosure-sec {display: none;}
.disclosure .disclosure-sec.active {display: block;}
.disclosure .visual-sec::after {background: url(../images/dis_visual.png) 50% 50% no-repeat;background-size: cover;}
.disclosure .page-desc-sec {padding-bottom: 8.4rem;}
.disclosure .page-desc-sec .list {margin-top: 8rem;}
.disclosure .page-desc-sec .list li {position:relative;padding-left:2rem;font-weight:500;font-size:2rem;line-height:150%;color:#666}
.disclosure .page-desc-sec .list li strong {font-weight:700;font-size: inherit;}
.disclosure .page-desc-sec .list li::before {position:absolute;left:0;font-size:2rem;font-weight: 500;line-height:150%;color:#666;content:'※'}
.disclosure .page-desc-sec .box_wrap {margin-top:3rem;padding:2.6rem 3rem;background:#F9F9F9;}
.disclosure .page-desc-sec .box_wrap p {font-size: 1.7rem;font-weight:700;line-height: 2.55rem;color:#666;}
.disclosure .page-desc-sec .box_wrap li {font-size: 1.7rem;font-weight:500;line-height:2.55rem;color:#666;}
.disclosure .list_wrap ul {margin-top: 3.6rem;}
.disclosure .list_wrap li {display:flex;justify-content:space-between;padding:2.5rem 0;border-bottom:1px solid #ebebeb;align-items: center;}
.disclosure .list_wrap li.list_head {border-top:2px solid #000;}
.disclosure .list_wrap li.list_head span {font-size: 2rem;font-weight:400;line-height: 3rem;}
.disclosure .list_wrap li.list_head span:last-child {width:14.2rem;text-align: center;}
.disclosure .list_wrap li p {margin-right: 2rem;max-width:78.8rem;font-size: 2.4rem;line-height:3.6rem;font-weight:700;color:#000;text-align:left;overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;}
.disclosure .list_wrap li .btn {display:inline-block;width:12.2rem;height:5rem;font-size:1.7rem;color:#fff;background:#000;text-align: center;line-height: 5rem;}
.disclosure .list_wrap .pagination {margin-top: 6rem;}

/* list type2  */
.disclosure .list_wrap.type2 li.list_head {justify-content: initial;}
.disclosure .list_wrap.type2 li.list_head span {width: 14.2rem;text-align: left;margin:0;}
.disclosure .list_wrap.type2 li.list_head span:nth-child(1) {flex-basis: 78%;}
.disclosure .list_wrap.type2 li.list_head span:nth-child(3) {text-align: center;}
.disclosure .list_wrap.type2 li p {flex-basis:100%;max-width: 62.6rem;}
.disclosure .list_wrap.type2 li span {display:inline-block;flex-basis:16%;margin-left:2rem;font-size: 2rem;line-height:3rem;font-weight:500;color:#999;}
.disclosure .list_wrap.type2 li .btn {flex-basis:16%;max-width:12.2rem;}




