@import url(common/reset.css);
@import url(common/common.css);

.disclosure .disclosure-sec {display: none;}
.disclosure .disclosure-sec.active {display: block;}
.disclosure .visual-sec::after {background: url(../images/dis_visual.png) 50% 50% no-repeat;background-size: cover;}
.disclosure .page-desc-sec {padding-bottom: 8.4rem;}
.disclosure .page-desc-sec .list {margin-top: 8rem;}
.disclosure .page-desc-sec .list li {position:relative;padding-left:2rem;font-weight:500;font-size:2rem;line-height:150%;color:#666}
.disclosure .page-desc-sec .list li strong {font-weight:700;font-size: inherit;}
.disclosure .page-desc-sec .list li::before {position:absolute;left:0;font-size:2rem;font-weight: 500;line-height:150%;color:#666;content:'※'}
.disclosure .page-desc-sec .box_wrap {margin-top:3rem;padding:2.6rem 3rem;background:#F9F9F9;}
.disclosure .page-desc-sec .box_wrap p {font-size: 1.7rem;font-weight:700;line-height: 2.55rem;color:#666;}
.disclosure .page-desc-sec .box_wrap li {font-size: 1.7rem;font-weight:500;line-height:2.55rem;color:#666;}
.disclosure .list_wrap ul {margin-top: 3.6rem;}
.disclosure .list_wrap li {display:flex;justify-content:space-between;padding:2.5rem 0;border-bottom:1px solid #ebebeb;align-items: center;}
.disclosure .list_wrap li.list_head {border-top:2px solid #000;}
.disclosure .list_wrap li.list_head span {font-size: 2rem;font-weight:400;line-height: 3rem;}
.disclosure .list_wrap li.list_head span:last-child {width:14.2rem;text-align: center;}
.disclosure .list_wrap li p {margin-right: 2rem;max-width:78.8rem;font-size: 2.4rem;line-height:3.6rem;font-weight:700;color:#000;text-align:left;overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;}
.disclosure .list_wrap li .btn {display:inline-block;width:12.2rem;height:5rem;font-size:1.7rem;color:#fff;background:#000;text-align: center;line-height: 5rem;}
.disclosure .list_wrap .pagination {margin-top: 6rem;}

/* list type2  */
.disclosure .list_wrap.type2 li.list_head {justify-content: initial;}
.disclosure .list_wrap.type2 li.list_head span {width: 14.2rem;text-align: left;margin:0;}
.disclosure .list_wrap.type2 li.list_head span:nth-child(1) {flex-basis: 78%;}
.disclosure .list_wrap.type2 li.list_head span:nth-child(3) {text-align: center;}
.disclosure .list_wrap.type2 li p {flex-basis:100%;max-width: 62.6rem;}
.disclosure .list_wrap.type2 li span {display:inline-block;flex-basis:16%;margin-left:2rem;font-size: 2rem;line-height:3rem;font-weight:500;color:#999;}
.disclosure .list_wrap.type2 li .btn {flex-basis:16%;max-width:12.2rem;}