@import url(common/reset.css);
@import url(common/common.css);

/* recruit */
.recruit .recruitTab {display: none;}
.recruit .recruitTab.active {display: block;}
.recruit .col_wrap .title.type3 {padding-top: 2.6rem;}
.recruit .visual-sec::after {background: url(../images/re_visual.png) 50% 50% no-repeat;background-size: cover;}
.recruit .ico_list {display: flex;width:95rem;flex-wrap: wrap;justify-content: space-between;row-gap:8rem;}
.recruit .ico_list li {width:41rem;}
.recruit .ico_list li img {display:block;width:9rem;}
.recruit .ico_list li h4 {margin:4rem 0 1rem;font-size: 2.4rem;font-weight:700;line-height: 3.92rem;}
.recruit .ico_list li p {font-size:1.7rem;line-height: 2.8rem;font-weight: 500;color:#666}
.recruit .btn {display:block;width:26rem;height:6.4rem;line-height:6.4rem;color:#fff;font-weight:500;text-align: center;background:#000;}
.recruit .recruitTab .page-desc-sec {padding-bottom:25rem;padding-top: 5rem;}

/* 채용프로세스 process */

.recruit .re_process .ico_list {row-gap: 7rem;column-gap:13rem;margin-bottom: 15.9rem;}
.recruit .re_process .col_wrap .title.type2 {padding-top: 3.3rem;}
.recruit .re_process .ico_list li {position:relative;width:23rem;text-align: center;}
.recruit .re_process .ico_list li:after {position:absolute;width:2.5rem;height:4rem;top:2.7rem;right:-8.8rem;background:url(../../assets/images/icons/icon_arrow_right.png);background-size:cover;content: '';}
.recruit .re_process .ico_list li:nth-child(3n):after {display: none;}
.recruit .re_process .ico_list li img {margin: auto;}
.recruit .re_process .ico_list li h4 {margin:2rem 0;}
.recruit .re_process .notice {padding:4.2rem 0;font-size: 2rem;line-height:3rem;font-weight:500;color:#666;border-top: 1px solid #ebebeb;border-bottom: 1px solid #ebebeb;}
.recruit .re_process .btn {margin-top: 10rem;font-size:2rem;}

/* 복리후생 benefits */
.recruit .re_benefits .col_2 {display:flex;flex-wrap:wrap;justify-content: space-between;row-gap:8rem;width: 122.2rem;margin-top: 13rem;}
.recruit .re_benefits .col_2 li {display: flex;flex:50%;height:9.93rem}
.recruit .re_benefits .col_2 li img {height: 7.2rem;margin-right: 4rem;}

.recruit .re_benefits .col_2 li h3 {margin-bottom:1rem;font-size: 2.4rem;line-height:3.36rem;font-weight:600;}
.recruit .re_benefits .col_2 li p {font-size: 2rem;line-height: 3rem;font-weight:500;color:#666}

/* TRM Recurit  */
.tmr-tab {display: none;}
.tmr-tab.active {display: block;}
.tmr_recruit .page-desc-sec {padding-top: 17rem;}
.tmr_recruit .tab-section {display: none;}
.tab-section.active {display: block;}
.tmr_recruit .visual-sec .page-tit-line:last-child span {padding-left: 7.4rem;}
.tmr_recruit .visual-sec::after {background: url(../images/tmr_re_visual.png) 50% 50% no-repeat;background-size: cover;}
.tmr_recruit .col_wrap.inner {width:126.9rem;}
.tmr_recruit .col_wrap h4 {width:inherit;padding-top:2.7rem;font-size:2.4rem;line-height: 3.6rem;font-weight: 700;}
.tmr_recruit .txt_wrap {position:relative;padding-top:2.8rem;margin-bottom:7rem;}
.tmr_recruit .txt_wrap:last-child {margin-bottom:0;}
.tmr_recruit .txt_wrap .title {font-size:3.2rem;line-height: 3.2rem;font-weight:700;}
.tmr_recruit .txt_wrap .title .point {position:absolute;display:flex;top:0;left:0.9rem;}
.tmr_recruit .txt_wrap .title .point span {display:inline-block;margin-right:1.6rem;width:0.8rem;height:0.8rem;background:#ff0198;border-radius:50%;}
.tmr_recruit .txt_wrap .cont {margin-top: 2rem;font-size: 2.4rem;line-height:3.36rem;font-weight: 500;color:#666;word-break: keep-all;}
.tmr_recruit .txt_wrap .cont:last-child {margin-bottom:0;}
.tmr_recruit .center_info {margin-top: 21rem;display: flex;flex-direction: row;gap: 8rem;}
/* .tmr_recruit .center_info.inner {width:110.5rem;} */
.tmr_recruit .center_info .img {width:62.7rem;}
.tmr_recruit .center_info .img img {display:block;width:100%;}
.tmr_recruit .center_info .txt_wrap {display: flex;width:39.8rem;gap: 7.6rem;flex-direction: column;padding:0;word-break: keep-all;}
.tmr_recruit .center_info .txt_wrap .title {font-size: 2rem;line-height: 3rem;font-weight:700;}
.tmr_recruit .center_info .txt_wrap .desc {margin-top:2rem;font-size: 3.4rem;line-height: 4.76rem;font-weight:700;}
.tmr_recruit .center_info .txt_wrap .row:last-child {padding-top:2.4rem;border-top:2px solid #000;}
.tmr_recruit .center_info .txt_wrap .row:last-child .desc {font-size:2.4rem;line-height:2.4rem;font-weight:700;}
.tmr_recruit .center_info .txt_wrap .row:last-child .time {display:inline-block;margin-left:1.6rem;font-size: 4rem;font-weight: 700;line-height: 4rem;vertical-align: sub;}
.tmr_recruit .center_info .txt_wrap .row:last-child .notice {margin-top:1.6rem;font-size: 2rem;line-height: 2rem;font-weight:500;color:#666;}
.tmr_recruit .col_box {display: flex;margin-top: 25rem;gap:2rem}
.tmr_recruit .col_box .col {display:flex;justify-content:space-between;width: 62.7rem;padding:3.5rem 5rem;background:#F9F9F9;border-radius: 1.4rem;}
.tmr_recruit .col_box .title {font-size:2rem;font-weight: 700;line-height: 2rem;}
.tmr_recruit .col_box .info {display: flex;flex-direction: column;text-align: right;justify-content: space-between;}
.tmr_recruit .col_box .info .number {font-size: 3.4rem;line-height: 3.4rem;font-weight:700;}
.tmr_recruit .col_box .info .ask {margin:1.6rem 0 2.7rem;font-size: 2rem;line-height: 2rem;font-weight: 500;color:#666}
.tmr_recruit .col_box .info .info_list span {position:relative;display:inline-block;margin-right:2rem;font-size: 1.7rem;color:#999;line-height:1.7rem;font-weight:500;}
.tmr_recruit .col_box .info .info_list span:last-child {margin-right:0;}
.tmr_recruit .col_box .info .info_list span:after {position:absolute;width: 0.4rem;height:0.4rem;top:50%;transform:translateY(-50%);right:-14px;border-radius:50%;background:#dcdcdc;content: '';}
.tmr_recruit .col_box .info .info_list span:last-child:after {display: none;}

/* 선택라이나 맞춤 */
.tmr_recruit .col_wrap_box {margin-top: 24.2rem;}
.tmr_recruit .col_wrap_box .col_wrap + .col_wrap {margin-top:13rem;}
.tmr_recruit .col-2 {flex:1;}
.tmr_recruit .col-2 .img {margin-right:4rem;}
.tmr_recruit .col-2 .img img {width: 8rem;height:8rem;}
.tmr_recruit .col-2 .info_title {display:flex;margin-bottom: 5rem;}
.tmr_recruit .col-2 .info_title h3 {font-size: 2.8rem;line-height: 140%;font-weight: 700;}
.tmr_recruit .col-2 .info_title p {margin-top:.9rem;font-size: 2rem;line-height: 150%;font-weight: 500;color:#666}
.tmr_recruit .col-2 .info_wrap {border-top:1px solid #000}
.tmr_recruit .col-2 .info_wrap li {display: flex; align-items:center;padding:4.2rem 0;border-bottom: 1px solid #ebebeb;}
.tmr_recruit .col-2 .info_wrap p {font-size: 2rem;line-height:3rem;font-weight: 500;color:#666}
.tmr_recruit .col-2 .info_wrap p.tit {width:30.3rem;padding-left:4.2rem;margin-right:2rem;font-weight: 700;color:#000;background-size: 24px;background-repeat: no-repeat;background-position: center left;}
.tmr_recruit .col-2 .info_wrap li:first-child p.tit {background-image:url(../../assets/images/icons/icon_time.png);}
.tmr_recruit .col-2 .info_wrap li:last-child p.tit  {background-image:url(../../assets/images/icons/icon_location.png);}

/* TMR 인재채용 소식플러스 */
.tmr_recruit .thumbs_wrap {margin-top: 23.8rem;margin-bottom: 6rem;}
.tmr_recruit .thumbs_wrap ul {display: flex; flex-wrap: wrap; justify-content: space-between;row-gap:10rem}
.tmr_recruit .thumbs_wrap li {width: 55.6rem;}
.tmr_recruit .thumbs_wrap li img {display:block;width:100%;height:36.9rem;object-fit: contain;border:1px solid #D7D7D7}
.tmr_recruit .thumbs_wrap li .txt {margin-top:4rem;height: 17.2rem;}
.tmr_recruit .thumbs_wrap li h3 {position:relative;font-size: 2.8rem;line-height:3.9rem;font-weight:700;color: #000;transition:.3s;text-decoration:underline; text-decoration-thickness: 3px;text-decoration-color: #fff;text-underline-position: under;}
.tmr_recruit .thumbs_wrap li h3:hover {text-decoration-color:#000;}
/* 썸네일 제목 한줄처리 해야할때 쓰면 됨 */
/* .tmr_recruit .thumbs_wrap li h3 {font-size: 2.8rem;line-height:3.9rem;font-weight:700;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;} */
.tmr_recruit .thumbs_wrap li p {margin-top:1rem;font-size: 2rem;line-height: 2.8rem;font-weight: 500; color:#666}

/* TMR 인재채용 지원서작성하기 */
.tmr_recruit .vacancy_list .page-desc-sec {padding-bottom: 8rem;padding-top: 6rem;}
.tmr_recruit .vacancy_list .list {width: 100%;margin-bottom: 6rem;}
.tmr_recruit .vacancy_list .txt_wrap {padding-left: 32.4rem;padding-top: 0;margin-bottom: 0;}
.tmr_recruit .vacancy_list .txt_wrap > h3 {margin-bottom:10rem;font-size:6rem;line-height: 140%;font-weight: 900;color:#150F96}
.tmr_recruit .vacancy_list .txt_wrap .btn {display:inline-block;width:26rem;height:6.8rem;background:#000;color:#fff;line-height:6.8rem;text-align: center;font-size: 2rem;}
.tmr_recruit .vacancy_list .list_wrap .col:nth-of-type(2) {flex:1;}
.tmr_recruit .vacancy_list .list th, td {padding:2.5rem 0;font-size:2rem;border-bottom: 1px solid;text-align: left;}
.tmr_recruit .vacancy_list .list th {border-top: 2px solid #000;}
.tmr_recruit .vacancy_list .list th:last-child {text-align: center;}
.tmr_recruit .vacancy_list .list .tit {font-weight:500;}
.tmr_recruit .vacancy_list .list .tit a {color:#000}
.tmr_recruit .vacancy_list .list .date {font-weight:500;color:#666}
.tmr_recruit .vacancy_list .list .btn a {display:inline-block;width: 12.2rem;height: 5rem;background:#000;color:#fff;line-height:5rem;text-align: center;}
.tmr_recruit .vacancy_list .col_box.type3 {flex-wrap: wrap;}
.tmr_recruit .vacancy_list .col_box.type3 .col {flex-direction: column;width: 62.7rem;padding: 4rem;box-sizing: border-box;justify-content: flex-start;}
.tmr_recruit .vacancy_list .col_box.type3 .badge {display: block;width: 8.4rem;height: 3.1rem;line-height:3.1rem;border-radius: 0.6rem;text-align: center;color:#fff;font-size:1.5rem;font-weight:600;}
.tmr_recruit .vacancy_list .col_box.type3 .badge.blue {background:#01C1D6;}
.tmr_recruit .vacancy_list .col_box.type3 .badge.green {background:#7ACB00;}
.tmr_recruit .vacancy_list .col_box.type3 h4 {margin:2.5rem 0 3rem;padding-bottom: 3rem;border-bottom: .2rem solid #000000;box-sizing: border-box;font-size: 3.4rem;line-height: 4.76rem;font-weight: 700;}
.tmr_recruit .vacancy_list .col_box.type3 .txt_box + .txt_box {margin-top: 3rem;}
.tmr_recruit .vacancy_list .col_box.type3 .txt_box .tit {font-size: 2.4rem;line-height: 3.6rem;font-weight: 700;color:#000}
.tmr_recruit .vacancy_list .col_box.type3 .txt_box .desc {margin-top:1rem;font-size: 2rem;line-height: 3rem;font-weight: 500;color:#666}
.tmr_recruit .vacancy_list .col_box.type3 .notice {display: block;margin-top:1rem;width: 100%;font-size: 1.7rem;font-weight: 500;color:#999;text-align: right;}

.tmr_recruit  .accor {margin-top:23.8rem;}