@import url(common/reset.css);
@import url(common/common.css);
/* visual  */

/* overview */
.overview .visual-sec::after {background: url(../images/ab_over_visual_bg.png) 50% 50% no-repeat;background-size: cover;}
.overview .introduction-sec {position: relative;height: 136rem;padding-top: 21.8rem;background: url(../images/ab_over_intro_bg.jpg) 50% 50% no-repeat;background-size: cover;}
.overview .introduction-sec::after {content: '';position: absolute;top: 52.4rem;left: 50%;transform: translateX(-50%);width: 84rem;height: 36rem;background: url(../images/ab_over_lina_chubb_with.png) 50% 50% no-repeat;background-size: cover;}
.overview .introduction-sec .inner {display: flex;}
.overview .introduction-sec .sub-tit {font-weight: 700;font-size: 2.4rem;line-height: 3.6rem;}
.overview .introduction-sec .text-area {margin-left: 18.1rem;}
.overview .introduction-sec .tit {font-weight: 700;font-size: 4rem;line-height: 5.6rem;}
.overview .introduction-sec .desc {margin-top: 1.6rem;color: #666;font-weight: 400;font-size: 2rem;line-height: 2.8rem;}
.overview .definition-sec {padding-top: 31.8rem;}
.overview .definition-sec .inner {display: flex;}
.overview .definition-sec .sub-tit {font-weight: 700;font-size: 2.4rem;line-height: 3.6rem;}
.overview .definition-sec .info-wrap {margin-left: 18.1rem;}
.overview .definition-sec .tit {font-weight: 700;font-size: 4rem;line-height: 5.6rem;}
.overview .definition-sec .desc {margin-top: 8rem;color: #666;font-weight: 400;font-size: 2rem;line-height: 2.8rem;}
.overview .definition-sec .desc strong {display: block;margin-bottom: 1.6rem;color: #000;font-weight: 700;font-size: 4rem;line-height: 5.6rem;}
.overview .definition-sec .total-data {margin-top: 15rem;}
.overview .definition-sec .total-data dd {font-weight: 700;font-size: 4rem;line-height: 6rem;letter-spacing: -0.02em;}
.overview .definition-sec .total-data .info {display: flex;flex-wrap: wrap;}
.overview .definition-sec .total-data dl {width: 50%;}
.overview .definition-sec .total-data dl:nth-child(n+3) {margin-top: 8rem;}
.overview .definition-sec .total-data dd strong {font-weight: 700;font-size: 12rem;line-height: 18rem;}
.overview .definition-sec .total-data dt {color: #999;font-weight: 500;font-size: 1.7rem;line-height: 2.38rem;}
.overview .definition-sec .total-data .extra-info {margin-top: 8rem;text-align: right;color: #999;font-weight: 400;font-size: 1.7rem;line-height: 2.38rem;}

/* CEO Interview */
.interview #contents {margin-bottom: 0;}
.interview .visual-sec::after {height: 38rem;background: url(../images/ab_interview_visual.png) 50% 50% no-repeat;background-size: cover;}
.interview .visual-sec .page-tit.type2 {top:21rem;left:22.8rem;}
.interview .visual-sec .page-tit.type2 span:nth-child(2) {padding-left:9rem;}
.interview .page-desc-sec {padding-bottom:25rem}
.interview .page-desc-sec .sub-tit {font-size:4rem;line-height: 5.6rem;}
.interview .page-desc-sec .sub-tit span {display:block;margin-bottom:1.6rem;font-size: 2.4rem;font-weight:500;line-height:3.36rem;}
.interview .page-desc-sec .desc {display:flex;margin-top: 7rem;align-items: center; color: #000;font-size: 2.4rem;line-height: 3.36rem;font-weight: 700;}
.interview .page-desc-sec .desc strong {margin:0;margin-left:2.6rem;font-size: 4rem;line-height:5.6rem;font-weight:700;}
.interview .page-sec01 {padding:17.8rem 0 17.7rem;background:url(../images/ab_interview_img01.png);background-size:cover}
.interview .page-sec01 .inner {padding-left: 32.3rem;}
.interview .page-sec01 .desc {font-size:3.2rem;line-height:4.4rem;font-weight:700;color:#fff}
.interview .page-sec01 .desc + .desc {margin-top: 8rem;}
.interview .page-sec01 span {display:block;margin-top:1.6rem;font-size: 2.4rem;line-height: 3.36rem;letter-spacing:-0.03em;font-weight:500;color:rgba(255,255,255,.6)}
.interview .page-interview {margin-top: 25rem;}
.interview .page-interview .col + .col {margin-top: 25rem;}
.interview .page-interview .right {display:flex;column-gap:16.2rem;}
.interview .page-interview .right .subject {width: 16.2rem;font-size: 2.4rem;font-weight:700;line-height: 3.6rem;}
.interview .page-interview .right img {width: 95rem;}
.interview .page-interview li + li {margin-top: 6rem;}
.interview .page-interview p {position: relative}
.interview .page-interview .question {padding-left:6rem;margin-bottom:2.55rem;font-size: 3.2rem;font-weight:700;line-height: 4.48rem;}
.interview .page-interview .answer {padding-left:6rem;font-size: 2rem;line-height: 3rem;font-weight: 500;letter-spacing: 0.02em;}
.interview .page-interview p:after {position:absolute;left:0;top:0;font-size: 3.2rem;font-weight:700;line-height: 4.48rem;}
.interview .page-interview .question:after {content: "Q.";}
.interview .page-interview .answer:after {content: "A.";}
.interview .page-interview .left img {width: 62.7rem;}
.interview .page-interview .left .txt {margin-top:6rem;padding-left: 32.4rem;}
.interview .page-sec02 {margin-top:25rem;padding:24rem 0;background:url(../../assets/images/ab_interview_img04.png);background-size: cover;}
.interview .page-sec02 .inner {display: flex;column-gap: 16.2rem;}
.interview .page-sec02 .subect {font-size: 2.6rem;line-height: 3.9rem;font-weight:700;color:#fff;}
.interview .page-sec02 .tit {font-size: 4rem;line-height: 5.6rem;font-weight: 700;color:#fff}
.interview .page-sec02 .desc {margin-top: 1.6rem;font-size: 2rem;line-height: 2.8rem;font-weight:500;color:rgba(255,255,255,.6)}

/* vision&mission */
.vision .visual-sec::after {background: url(../images/ab_vision_visual_bg.jpg) 50% 50% no-repeat;background-size: cover;}
.vision .visual-sec .page-tit span:last-child{margin-left: 14rem;}
.vision .page-desc-sec .inner {padding-left: 0;}
.vision .page-desc-sec .sub-tit {padding-left: 32.3rem;}
.vision .page-desc-sec img {display: block;width: 107.2rem;margin: 15rem auto 0;}
.vision .concept-sec {padding-top: 18.8rem;padding-bottom: 30rem}
.vision .concept-sec .inner {display: flex;}
.vision .concept-sec .sub-tit {display:block;padding-top: 2.5rem;font-weight: 700;font-size: 2.4rem;line-height: 3.6rem;}
.vision .concept-sec .text-area {margin-left: 16.6rem;}
.vision .concept-sec .tit {font-weight: 700;font-size: 5.4rem;line-height: 8.1rem;}
.vision .concept-sec .desc {margin-top: .8rem;color: #666;font-weight:500;font-size: 2rem;line-height: 2.8rem;}
.vision .bhr-vision-sec {height: 48rem; background: url(../images/ab_vision_bhr_bg.png) 50% 50% no-repeat; background-size: cover;color: #fff;}
.vision .bhr-vision-sec .inner {display: flex;height: 100%;padding-top:15.2rem;}
.vision .bhr-vision-sec .sub-tit {display:block;padding-top: 2.5rem;font-weight: 700;font-size: 2.4rem;line-height: 3.6rem;}
.vision .bhr-vision-sec .text-area {margin-left: 13.7rem;}
.vision .bhr-vision-sec .tit {font-weight: 700;font-size: 4rem;line-height: 5.6rem;}
.vision .bhr-vision-sec .desc {margin-top: 1.6rem;color: rgba(255,255,255,0.5);font-weight:500;font-size: 1.7rem;line-height: 2.38rem;}
.vision .brand-behavior-sec {padding-top: 30rem;}
.vision .brand-behavior-sec .inner {display: flex;}
.vision .brand-behavior-sec .tit {margin-top:6.7rem;white-space: nowrap;font-weight: 700;font-size: 2.4rem;line-height: 3.6rem;}
.vision .brand-behavior-sec .brand-behavior-list {displaY:flex;flex-wrap: wrap;margin-left: 15.1rem;}
.vision .brand-behavior-sec .brand-behavior-item {width: 47.5rem;height: 19.4rem;box-sizing: border-box;}
.vision .brand-behavior-sec .brand-behavior-item:nth-of-type(1) {border-right: 1px solid #C8C8C8;border-bottom: 1px solid #C8C8C8;}
.vision .brand-behavior-sec .brand-behavior-item:nth-of-type(2) {border-bottom: 1px solid #C8C8C8;}
.vision .brand-behavior-sec .brand-behavior-item:nth-of-type(3) {border-right: 1px solid #C8C8C8;}
.vision .brand-behavior-sec .brand-behavior-item p {display: flex;align-items: center;flex-direction: column;width: 100%;height: 100%;color:#999;font-weight: 500;font-size: 2rem;line-height: 3rem;}
.vision .brand-behavior-sec .brand-behavior-item p .num {margin-top: 1.7rem;color:#000;font-weight: 700;font-size: 1.7rem;line-height: 2.38rem;}
.vision .brand-behavior-sec .brand-behavior-item p strong {margin: 1rem 0;color:#000;font-weight: 700;font-size: 4rem;line-height: 5.6rem;}

/* corporate identity */
.corporate .visual-sec::after {background: url(../images/ab_ci_visual_bg.jpg) 50% 50% no-repeat;background-size: cover;}
.corporate .visual-sec .page-tit-line:last-child span {margin-left: 35.8rem;}
.corporate .identity-guide-sec {padding-top: 6.8rem;}
.corporate .identity-guide-sec .identity-list li {display: flex;}
.corporate .identity-guide-sec .identity-list li .label {width: 14.2rem;margin-right: 18.2rem;font-weight: 700;font-size: 2.4rem;line-height: 3.6rem;}
.corporate .identity-guide-sec .identity-list li .info {display: flex;align-items: center;justify-content:center;flex-direction: column;width: calc(100% - 32.2rem);height: 24.5rem;border: 1px solid #C8C8C8;}
.corporate .identity-guide-sec .identity-list li:nth-of-type(3) .info {height: auto; border: 0;}
.corporate .identity-guide-sec .identity-list li:nth-of-type(n+2) {margin-top: 15rem;}
.corporate .identity-guide-sec .identity-list li:nth-of-type(1) img { width: 23.2rem;}
.corporate .identity-guide-sec .identity-list li:nth-of-type(2) img { width: 38.7rem;}
.corporate .identity-guide-sec .identity-list li:nth-of-type(3) img { width: 100%;}
.corporate .identity-guide-sec .identity-list li:nth-of-type(3) img:last-child {margin-top: -.2rem;}

/* promotional video */
.promational .visual-sec::after {background: url(../images/ab_pv_visual_bg.jpg) 50% 50% no-repeat;background-size: cover;}
.promational .visual-sec .page-tit-line:last-child span {margin-left: 52.8rem;}
.promational .page-desc-sec {padding-top: 17rem;padding-bottom: 0;}
.promational .page-desc-sec .inner {display: flex;padding: 0;}
.promational .page-desc-sec .video-area {width: 78.9rem}
.promational .page-desc-sec .video-area img {width: inherit;}
.promational .page-desc-sec .text-area {margin: 0; padding-left: 7rem;}
.promational .page-desc-sec .text-area .tit {padding-bottom: 2rem;border-bottom: .2rem solid #000;font-weight: 700;font-size: 3.4rem;line-height: 4.76rem;}
.promational .page-desc-sec .text-area .desc {height: 29.8rem;padding-right: 2rem;overflow-y: auto;margin-top: 3rem;box-sizing: border-box;color: #000;font-weight: 500;font-size: 2rem;line-height: 2.8rem;}
.promational .page-desc-sec .text-area .desc::-webkit-scrollbar {width: .6rem;height: .6rem}
.promational .page-desc-sec .text-area .desc::-webkit-scrollbar-thumb {background-color: #c8c8c8;background-clip: padding-box;border: 0.1rem solid #c8c8c8;}
.promational .page-desc-sec .text-area .desc::-webkit-scrollbar-track {background-color: #ebebeb;border: 0.2rem solid transparent;background-clip: padding-box;}

/* News - list */
.news .visual-sec::after {background: url(../images/ab_news_visual.png) 50% 50% no-repeat;background-size: cover;}
.news .page-desc-sec {padding-bottom:8.4rem;}

/* contact us */
.contact .visual-sec::after {background: url(../images/ab_cu_visual_bg.jpg) 50% 50% no-repeat;background-size: cover;}
.contact .visual-sec .page-tit-line:last-child span {margin-left: 38.7rem;}
.contact .page-tab-sec {margin: 10rem 0 0;}
.contact .page-tab-sec.type2 {padding-bottom: 7.2rem;}
.contact .workplace-sec {display:none;padding-top:5.8rem;}
.contact .workplace-sec.active {display: block;}
.contact .workplace-sec img {width: 100%;}
.contact .workplace-sec .info-wrap {width: 95rem;margin-top: 10rem;margin-left: auto;}
.contact .workplace-sec .desc {color: #666;font-weight: 500;font-size:2rem;line-height: 3rem;}
.contact .workplace-sec .desc strong {display: block;margin-bottom: 2rem;color: #000;font-weight: 700;font-size:2.8rem;line-height: 3.92rem;}
.contact .workplace-sec .location-area {margin-top: 5rem;}
.contact .workplace-sec dl {display: flex;align-items: center;padding: 4.2rem 0;border-top: .1rem solid #ebebeb;}
.contact .workplace-sec dl:last-child{border-bottom: .1rem solid #ebebeb;}
.contact .workplace-sec dd {display:flex;align-items:center;width: 30.3rem;font-weight: 700;font-size: 2rem;line-height: 3rem;}
.contact .workplace-sec dd::before {content: ''; display: inline-block;width: 2.4rem;height: 2.4rem;margin-top: -.1rem;margin-right: 1.8rem;}
.contact .workplace-sec dd.corp-name::before {background: url(../images/icons/icon_company.png) 50% 50% no-repeat;background-size: cover;}
.contact .workplace-sec dd.location::before {background: url(../images/icons/icon_location.png) 50% 50% no-repeat;background-size: cover;}
.contact .workplace-sec dd.key-number::before {background: url(../images/icons/icon_key_number.png) 50% 50% no-repeat;background-size: cover;}
.contact .workplace-sec dd.service-number::before {background: url(../images/icons/icon_service_number.png) 50% 50% no-repeat;background-size: cover;}
.contact .workplace-sec dd.tm-service::before {background: url(../images/icons/icon_tm_service.png) 50% 50% no-repeat;background-size: cover;}
.contact .workplace-sec dd.traffic-guide::before {background: url(../images/icons/icon_traffic_guide.png) 50% 50% no-repeat;background-size: cover;}
.contact .workplace-sec dt {color: #666;font-weight: 500;font-size: 2rem;line-height: 3rem;}

/* Associate & Proposal 제휴 제안 */
.associate .visual-sec::after {background: url(../images/ab_ass_visual.png) 50% 50% no-repeat;background-size: cover;}
.associate .visual-sec .page-tit.type2 span:nth-child(2) {padding-left:38.3rem;}
.associate .col-3.inner {display:flex;flex-direction: column;}
.associate .col-3 .col {display: flex;column-gap:18.2rem;}
.associate .col-3 .col + .col {margin-top: 25rem;}
.associate .col-3 .col .subject {width:14.2rem;font-size: 2.4rem;line-height:3.6rem;font-weight:700;white-space:nowrap;}
.associate .col-3 .partner .tit {font-size: 2.8rem;line-height: 3.92rem;font-weight:700;}
.associate .col-3 .partner .desc {margin-top:2rem;font-size: 2rem;line-height: 3rem;font-weight:500;color:#666}
.associate .col-3 .partner .icons {margin-top: 11rem;display:flex;flex-wrap: wrap;border-top: 1px solid #c8c8c8;}
.associate .col-3 .partner .icons span {width:25%;height: 14rem;display: flex;justify-content: center;align-items: center;border-left: 1px solid #c8c8c8;border-bottom:1px solid #c8c8c8;box-sizing: border-box;}
.associate .col-3 .partner .icons span.line,
.associate .col-3 .partner .icons span:nth-child(4n) {border-right: 1px solid #c8c8c8;}
.associate .col-3 .partner img {object-fit: contain;transform: scale(0.5);}
.associate .rule_wrap {display: flex;flex-direction: column;row-gap: 11rem;}
.associate .rule_wrap .tit span {font-weight:700;font-size:2.4rem;line-height: 150%;}
.associate .rule_wrap .tit p {margin-top:1.6rem;font-weight:700;font-size:3.2rem;line-height: 150%;}
.associate .rule_wrap .cont {display: flex;column-gap:4rem;}
.associate .rule_wrap .cont .img {position:relative;width: 9rem;}
.associate .rule_wrap .cont img {display:block;width:100%;}
.associate .rule_wrap .txt p {font-weight: 500;font-size: 20px;line-height: 150%;color:#666}
.associate .rule_wrap .txt p + p {margin-top:2rem;}
.associate .rule_wrap .txt strong {display:block;margin-bottom:4rem;font-weight:500;font-size:24px;line-height:150%;}
.associate .rule_wrap .list {display: flex;flex-wrap: wrap;column-gap:5rem;row-gap:1.6rem;}
.associate .rule_wrap .list li {width:20.6rem;margin-left:2rem;font-weight: 500;font-size: 20px;line-height:150%;color:#666;list-style: disc;}
.associate .mail_box {display:flex;justify-content:space-between;margin-top:25rem;padding:5rem;background: #F9F9F9;border-radius: 14px;}
.associate .mail_box .subject {font-weight:700;font-size:20px;line-height:170%;}
.associate .mail_box .desc {text-align:right;font-Weight:500;font-size:2rem;line-height:3.2rem;}
.associate .mail_box .desc a {display:block;font-Weight:500;font-size:1.7rem;line-height:2.72rem;color:#000;text-decoration: underline;}