@import url(common/reset.css);
@import url(common/common.css);

/* overview */
.overview .visual-sec::after {content: '';position: absolute;top: 30.4rem;left: 0;width: 100%;height: 34rem;background: url(../images/ab_over_visual_bg.png) 50% 50% no-repeat;background-size: cover;z-index: -1;}

.overview .introduction-sec {position: relative;height: 136rem;padding-top: 21.8rem;background: url(../images/ab_over_intro_bg.jpg) 50% 50% no-repeat;background-size: cover;}
.overview .introduction-sec::after {content: '';position: absolute;top: 52.4rem;left: 50%;transform: translateX(-50%);width: 84rem;height: 36rem;background: url(../images/ab_over_lina_chubb_with.png) 50% 50% no-repeat;background-size: cover;}
.overview .introduction-sec .inner {display: flex;}
.overview .introduction-sec .sub-tit {font-weight: 700;font-size: 2.4rem;line-height: 3.6rem;}
.overview .introduction-sec .text-area {margin-left: 18.1rem;}
.overview .introduction-sec .tit {font-weight: 700;font-size: 4rem;line-height: 5.6rem;}
.overview .introduction-sec .desc {margin-top: 1.6rem;color: #666;font-weight: 400;font-size: 2rem;line-height: 2.8rem;}

.overview .definition-sec {padding-top: 31.8rem;padding-bottom: 41rem;}
.overview .definition-sec .inner {display: flex;}
.overview .definition-sec .sub-tit {font-weight: 700;font-size: 2.4rem;line-height: 3.6rem;}
.overview .definition-sec .info-wrap {margin-left: 18.1rem;}
.overview .definition-sec .tit {font-weight: 700;font-size: 4rem;line-height: 5.6rem;}
.overview .definition-sec .desc {margin-top: 8rem;color: #666;font-weight: 400;font-size: 2rem;line-height: 2.8rem;}
.overview .definition-sec .desc strong {display: block;color: #000;font-weight: 700;font-size: 4rem;line-height: 5.6rem;}
.overview .definition-sec .total-data {margin-top: 15rem;}
.overview .definition-sec .total-data dd {font-weight: 700;font-size: 4rem;line-height: 6rem;letter-spacing: -0.02em;}
.overview .definition-sec .total-data .info {display: flex;flex-wrap: wrap;}
.overview .definition-sec .total-data dl {width: 50%;}
.overview .definition-sec .total-data dl:nth-child(n+3) {margin-top: 8rem;}
.overview .definition-sec .total-data dd strong {font-weight: 700;font-size: 12rem;line-height: 18rem;}
.overview .definition-sec .total-data dt {color: #999;font-weight: 500;font-size: 1.7rem;line-height: 2.38rem;}
.overview .definition-sec .total-data .extra-info {margin-top: 8rem;text-align: right;color: #999;font-weight: 400;font-size: 1.7rem;line-height: 2.38rem;}

/* vision&mission */
.vision .visual-sec::after {content: '';position: absolute;top: 30.4rem;left: 0;width: 100%;height: 34rem;background: url(../images/ab_vision_visual_bg.jpg) 50% 50% no-repeat;background-size: cover;z-index: -1;}
.vision .visual-sec .page-tit:last-child{margin-left: 14rem;}