@charset "UTF-8";

/* Webfont setup */
@font-face {
    font-family: 'Pretendard';
    src: url('../../fonts/Pretendard-Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard';
    src: url('../../fonts/Pretendard-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard';
    src: url('../../fonts/Pretendard-Light.woff2') format('woff2');
    
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard';
    src: url('../../fonts/Pretendard-Regular.woff2') format('woff2');
    
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard';
    src: url('../../fonts/Pretendard-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard';
    src: url('../../fonts/Pretendard-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard';
    src: url('../../fonts/Pretendard-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard';
    src: url('../../fonts/Pretendard-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard';
    src: url('../../fonts/Pretendard-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../../fonts/Poppins-Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../../fonts/Poppins-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../../fonts/Poppins-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../../fonts/Poppins-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../../fonts/Poppins-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../../fonts/Poppins-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../../fonts/Poppins-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../../fonts/Poppins-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../../fonts/Poppins-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}

/* CSS Document */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
form, fieldset, legend, label,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video{
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size: 62.5%;
    font-family:var(--body-fonts);
    vertical-align:baseline;
    background:transparent;
    box-sizing: border-box;
}

header, footer, section, article, aside, nav, hgroup, details, menu, figure, figcaption{display:block}

ul, ol{list-style:none} 
em, address, i{font-style:normal}
a{text-decoration:none;color:#000}

/* Root Style */
:root{
    --body-fonts:"Pretendard", sans-serif;
    --poppins-fonts:"Poppins", sans-serif;
    --title-type1:13.333vw;
    --title-type2:5.556vw;
    --title-type3:5vw;
    --basic-size:4.444vw;
    --small-size:3.889vw;
} 

/* Hidden Text */
.blind{position:absolute;width:1px;height:1px;margin:-1px;overflow:hidden;clip-path:polygon(0 0, 0 0, 0 0);}

/* Clear Fixed */
.clearfix, .clearfix:after{content:'';display:block;clear:both;}

/* Form */
legend{position:absolute;width:1px;height:1px;margin:-1px;overflow:hidden;clip-path:polygon(0 0, 0 0, 0 0);}
select, textarea, input, label{vertical-align:middle;}
select, textarea, input{-webkit-appearance:none;-moz-appearance:none;-o-appearance:none;appearance:none}
input[type=search]{-webkit-appearance:textfield}
input[type=checkbox], input[type=radio]{box-sizing:border-box;padding:0;margin:0;}
button::-moz-focus-inner, input::-moz-focus-inner{border:0;padding:0}
select:-moz-focusring{color:transparent;text-shadow:0 0 0 #000}
select::-ms-expand{display:none}

/* Table */
table{border-collapse:collapse}
caption{position:absolute;width:1px;height:1px;margin:-1px;overflow:hidden;clip-path:polygon(0 0, 0 0, 0 0);}
