body {font-family: var(--body-fonts);color: #000;}
#contents {margin-bottom: 40rem;}

/* header area */
header {padding:4rem 6rem;display: flex;justify-content: space-between;}
header .logo {height:28px;}
header img {display: block;height: 100%;}
header nav ul {display: flex;}
header nav li {margin:0 0 0 40px}
header nav li:first-child {margin: 0;}
header nav a {font-size:2rem;line-height: 2.4rem;font-weight:700;text-align:center;color:#000}

/* sub content 공통부분 */
.sub_wrap .inner {width:127.4rem;margin:0 auto;box-sizing: border-box;}
.sub_wrap .page-tab-sec {margin:10rem 0 7rem;}
.sub_wrap .page-tab-sec > ul {position:relative;display:flex;gap:5rem;}
.sub_wrap .page-tab-sec li a {position:relative;padding-bottom:0.6rem;font-size: 2.4rem;font-weight:600;line-height: 2.9rem;color:#000}
.sub_wrap .page-tab-sec li a.active {border-bottom:4px solid #000;}
.sub_wrap .page-tab-sec li .sub_menu_t {position:absolute; left:0;top:7rem;display:flex;gap:6.6rem}
.sub_wrap .page-tab-sec li .sub_menu_t a {position:relative;padding:0;font-size:2.2rem;font-weight:700;line-height:2.64rem;}
.sub_wrap .page-tab-sec li .sub_menu_t a.active {border:none;color:#FF0198}
.sub_wrap .page-tab-sec li .sub_menu_t li:last-child a:after {display: none;}
.sub_wrap .page-tab-sec li .sub_menu_t a:after {position: absolute;top: 50%;left:auto;right:-3.5rem;transform: translateY(-50%);width:0.6rem;height: 0.6rem;border-radius:50%;background: #ccc;content: '';}
.sub_wrap .col_wrap {display: flex;gap:18.2rem}
.sub_wrap .col_wrap .col:first-of-type {width:14.2rem;}
.sub_wrap .col_wrap .title {font-size:2.4rem;font-weight: 700;line-height: 3.6rem;}

/* 상세페이지  */
.detail_view .inner {display: flex;margin-top:19.4rem;gap:24rem;}
.detail_view .col:first-of-type {min-width: 8.3rem;}
.detail_view .title {font-size: 2.4rem;font-weight: 700;line-height: 3.6rem;}
.detail_view .detail_tit {margin-bottom:1rem;font-size: 4rem;line-height: 5.6rem;font-weight: 700;}
.detail_view .date {font-size: 1.7rem;font-weight:500;line-height: 2.5rem;color:#999;}
.detail_view .content {margin:6rem 0 10rem;padding-bottom: 4.2rem;border-bottom:1px solid #ebebeb}
.detail_view .content pre {font-size: 2rem;line-height: 3rem;font-weight: 500;color:#000;white-space:pre-line}
.detail_view .btn {display:block;width:26rem;height:6.4rem;line-height:6.4rem;color:#fff;font-size:1.7rem;font-weight:500;text-align: center;background:#000;}

/* visual area */
.visual-sec {position: relative;min-height: 34rem; padding-top: 30.4rem;}
.visual-sec .page-tit {position: absolute;top: 22.7rem;left: 17%;font-weight: 700;font-size: 12.4rem;line-height: 13.33rem;}
.visual-sec .page-tit.type2 {top: 11.3rem;left: 8.7%;}
.visual-sec .page-tit.type2 span {display: block;font-size: inherit;}

/* page desc area */
.page-desc-sec {padding-top: 10rem;padding-bottom: 13.2rem; }
.page-desc-sec .inner {padding-left: 32.3rem;}
.page-desc-sec .text-area {margin-top: 44rem;margin-left: 32.3rem;}
.page-desc-sec .sub-tit {font-weight: 700;font-size: 3.2rem;line-height: 4.48rem;}
.page-desc-sec .desc {margin-top: 8rem;color: #666;font-weight: 500;font-size: 2rem;line-height: 2.8rem;}
.page-desc-sec .desc strong {display: block;margin-bottom: 1.6rem;color: #000;font-weight: 700;font-size: 3.2rem;line-height: 4.48rem;}

/* footer area */
footer {border-top: 1px solid #ebebeb;padding:10rem 0 12rem;}
footer .inner {width:127.4rem;margin: 0 auto;display: flex;justify-content: space-between;gap: 25.2rem ;}
footer .inner > div {display: flex;flex-direction: column;}
footer .logo  {height:3.2rem;margin-bottom:7rem;}
footer .logo img {height:100%;}
footer .list_priv {display: flex;gap: 2rem;margin-bottom: 2rem;}
footer .list_priv a {font-size: 1.6rem;line-height:1.9rem;font-weight:600;color:#000;}
footer .list_corp ul {display: flex;gap:2rem;margin-bottom:0.8rem;}
footer .list_corp li,
footer .list_corp p {font-size: 1.4rem;font-weight:400;line-height:1.6rem;color:#000;}
footer .notice .number {margin-bottom:0.8rem;font-size:4rem;font-weight:700;line-height: 4.8rem;letter-spacing: 0.16px;}
footer .notice .time {font-size: 1.8rem;font-weight:500;letter-spacing: 0.32px;line-height: 2.2rem;}
footer .family_site {position:relative;margin-top: 8.4rem;width:29rem;border-bottom: 2px solid #000;}
footer .family_site > li {position:relative;padding:1.2rem 0 1.7rem;font-size: 1.6rem;font-weight: 400;cursor: pointer;}
footer .family_site > li::before {position: absolute;width: 14px;height: 7px;background: url(../../images/common/sitebox_arrow_down.png);background-size: contain;background-repeat: no-repeat;right: 1rem;top: auto;bottom:2.2rem;content: '';}
footer .family_site > .link_site {position:absolute;width:100%;display:none;}
footer .family_site > .link_site li {padding:1.2rem 0 1.7rem;font-size: 1.6rem;}